{{ define "main" }}<main class="security">

{{ with .Params.hero }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="bg-logo">
        {{ (resources.Get "img/security/security-bg.svg").Content | safeHTML }}
      </div>
      <h1 class="title">{{ T .title }}</h1>
      <div class="content">
        {{ T .body | markdownify }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.trust }}
<section class="section is-trust">
  <div class="container">
    <h1 class="title is-section-title">{{ T .title }}</h1>
    {{ partial "customers" $.Page }}
  </div>
</section>
{{ end }}

{{ with .Params.features }}
<section class="section is-features">
  <div class="container">
    <h1 class="title is-section-title">{{ T .title }}</h1>
    <div class="columns is-multiline">
      {{ range .items }}
      <div class="column is-half">
        <figure class="image">
          {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "desktop" "200x") }}
        </figure>
        <div class="content">
          {{ T .body | markdownify }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.specs }}
<section class="section is-specs">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-text is-half">
        <h1 class="title">{{ T .title }}</h1>
        <div class="content">
          {{ T .body | markdownify }}
        </div>
        {{ with .cta }}
        <div class="cta">
          <a class="button{{ with .class }} {{ . }}{{ end }}" href="{{ .url }}" target="_blank">
            {{ T .title }}
          </a>
        </div>
        {{ end }}
      </div>
      <div class="column">
        {{ range .items }}
        <div class="spec-item">
          <div>
            <span class="icon">
              {{ partial "common/mdi" "check:24" }}
            </span>
            <span>{{ T . }}</span>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.privacy }}
<section class="section is-privacy">
  <div class="container">
    <h1 class="title is-section-title">{{ T .title }}</h1>
    <div class="columns is-vcentered">
      <div class="column">
        <figure class="image">
          {{ partial "common/srcset" (dict "resource" (resources.Get "img/security/privacy.png") "desktop" "992x" "mobile" "750x" "options" "jpg #f4f4f4") }}
        </figure>
      </div>
      <div class="column is-text">
        <div class="content">
          {{ T .body | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.bottom_cta }}
<section class="section is-bottom-cta">
  <div class="container">
    <div class="bottom-bg">
      {{ (resources.Get "img/shared/what-bg.svg").Content | safeHTML }}
    </div>
    <div>
      <h1 class="title is-section-title">{{ default .title (T .title) }}</h1>
      {{ with .body }}
      <div class="content">{{ default . (T .) | markdownify }}</div>
      {{ end }}
    </div>
    {{ with .cta }}
    <div class="cta" data-target="contact">
      {{ if .title }}
      <a class="button is-rounded is-black is-outlined">
        {{ default .title (T .title) }}
      </a>
      {{ end }}
    </div>
    {{ end }}
    {{ with .figure}}
    <div class="is-contact" id="contact">
      <figure class="image">
        {{ partial "common/srcset" (dict "resource" (resources.Get .) "desktop" "400x") }}
      </figure>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ partial "common/template-script" (dict "asset" "js/about.js") }}
{{ partial "common/template-script" (dict "asset" "js/show-cn-content.js") }}
</main>{{ end }}
