{{ define "stylesheets" }}
<style>
{{ (resources.Get "css/common/video-js.min.css").Content | safeCSS }}
</style>
{{ end }}

{{ define "scripts"}}
{{ $src := resources.Get "js/common/glide.min.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $src.RelPermalink }}" integrity="{{ $src.Data.Integrity }}"></script>
{{ end }}

{{/*  {{ define "nav" }}
<div class="before-nav">
  <p class="cta">
  <a href="/demo/work-from-home/">
    Working from home due to Coronavirus? See how can we help →
  </a>
  </p>
</div>
<!-- <div class="before-nav">
  <p class="cta">
  Boards & Stands are currently backordered until appx Sep 14th due to demand.<br />
  <a href="/order/">Purchase now to reserve your order in the next arrival</a>, or
  <a href="https://landing.vibe.us/backorder-notification" target="_blank">have us notify you when they're back in stock</a>.
  </p>
</div> -->
{{ partial "common/nav" . }}
{{ end }}  */}}

{{ define "main" }}<main class="55">

{{ with .Params.hero }}
<section class="hero is-fullheight-with-navbar is-55">
  <figure class="image is-hero-bg is-hidden-mobile">
    {{ partial "common/srcset" (dict "resource" (resources.Get "img/55/hero.png") "desktop" "2880x" "tablet" "2048x" "mobile" "750x" "options" "jpg #FFFFFF") }}
  </figure>
  <div class="hero-body">
    <div class="container">
      <div class="title-text">
        <h1 class="title">
          {{ T .title | markdownify }}
        </h1>
        <p>
        {{ T .body | markdownify }}
        </p>
      </div>
      {{ with .cta }}
      <div class="cta">
        <a class="button is-hero-cta {{ with .class }} {{ . }}{{ end }}"
           href="{{ .url | relLangURL }}">
          {{ T .title }}
        </a>
      </div>
      {{ end }}
      {{ range .subcta }}
      <div class="subcta{{ with .class }} {{ . }}{{ end }}">
        <span>{{ T .title }}</span>
        {{ with .link }}
        <a href="{{ .url | relLangURL }}">{{ T .text }}</a>
        {{ end }}
      </div>
      {{ end }}

      <figure class="image is-hero is-hidden-tablet">
        {{ partial "common/srcset" (dict "resource" (resources.Get "img/55/hero-mobile.jpg") "desktop" "750x") }}
      </figure>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.as_seen_in }}
{{ partial "common/as-seen-in-section" . }}
{{ end }}

{{ with .Params.testimonial_section }}
{{ partial "common/testimonial-section" . }}
{{ end }}

{{ range .Params.features }}
<section class="section is-feature{{ with .class }} {{ . }}{{ end }}">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-text">
        <h1 class="title is-section-title">{{ T .title }}</h1>
        <h2 class="subtitle is-section-title">{{ T .subtitle }}</h2>
        <div class="content">
          {{ T .body | markdownify }}
        </div>
        {{ with .cta }}
        <div class="cta">
          {{ if .url }}
          <a href="{{ .url | relLangURL }}">{{ T .title }}</a>
          {{ end }}
          {{ if .video }}
          <a href="{{ .video }}" class="video-launcher-popup" target="_blank" data-target="demo-video-popup">
            {{ T .title }}
            <span class="icon">
              {{ (resources.Get "img/shared/play-icon.svg").Content | safeHTML }}
            </span>
          </a>
          {{ partial "common/video-player" (dict "playerId" "demo-video-popup" "videoUrl" .video "triggerClass" ".video-launcher-popup" "isInplace" false "isVideoJS" true) }}
          {{ end }}
        </div>
        {{ end }}
      </div>
      <div class="column is-image">
        <figure class="image">
          {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "desktop" "1920x" "tablet" "1280x" "mobile" "750x" "options" (print "jpg " (default "#ffffff" .jpg_background))) }}
          <div class="overlay"></div>
        </figure>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.apps }}
<section class="section is-apps">
  <div class="container">
    {{ with .title }}<h1 class="title is-section-title">{{ T . }}</h1>{{ end }}
    {{ with .body }}<p class="content">{{ T . }}</p>{{ end }}
    <div class="more">
      {{ with .cta }}
        <a href="{{ .url | relLangURL }}">{{ default .title (T .title) }}</a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.security }}
{{ partial "security" .}}
{{ end }}

{{ with .Params.spec }}
<section class="section is-spec">
  <div class="container">
    <figure class="image">
      {{ partial "common/srcset" (dict "resource" (resources.Get "img/55/explode.png") "desktop" "2070x" "tablet" "1440x" "mobile" "750x" "options" "jpg #66cccc") }}
    </figure>
    <div class="level is-overview is-mobile">
      {{ range .banner }}
      <div class="level-item">
        <div>
          <p class="title">{{ T .title }}</p>
          <p class="body">{{ T .body }}</p>
        </div>
      </div>
      {{ end }}
    </div>
    <div id="specs">
      <div class="columns">
        {{ range .columns }}
        <div class="column">
          {{ range . }}
          <div class="spec-table">
            <h2 class="title">{{ T .title }}</h2>
            <table class="table is-fullwidth">
              <tbody>
                {{ range .items }}
                <tr>
                  <td>{{ T .name }}</td>
                  <td>{{ T .value | markdownify }}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
      {{ with .cta }}
      <div class="cta">
        <a class="button{{ with .class }} {{ . }}{{ end }}"
           href="{{ .url }}"
           target="_blank">
          {{ T .title }}
        </a>
      </div>
      {{ end }}
    </div>
    <div class="title is-view-specs">{{ T .title }}</div>
    <button class="button is-specs-chevron toggle-specs" data-target="specs">
      <span class="icon">
        <svg width="100%" height="100%" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.3714 8.37137L11.6289 14.1138L5.88644 8.37137" stroke="#111111" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </button>
  </div>
</section>
{{ end }}

{{ with .Params.accessories }}
{{ partial "accessories" . }}
{{ end }}

{{ with .Params.faq }}
{{ partial "faq" . }}
{{ end }}

{{ with .Params.bottom_cta }}
{{ partial "bottom-cta" . }}
{{ end }}

{{ partial "common/template-script" (dict "asset" "js/hardware.js") }}
{{ partial "common/template-script" (dict "asset" "js/common/testimonials.js") }}
{{ partial "common/template-script" (dict "asset" "js/customer-entry.js") }}
</main>{{ end }}
