{{ define "scripts"}}
{{ $src := resources.Get "js/common/glide.min.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $src.RelPermalink }}" integrity="{{ $src.Data.Integrity }}"></script>
{{ end }}
{{ define "main" }}<main class="toc-template">

  {{ with .Params.hero }}
  <section class="hero">
    <figure class="image is-hero-bg is-hidden-desktop">
      {{ partial "common/srcset" (dict "resource" (resources.Get "img/toc-template/hero-mobile.png") ) }}
    </figure>
    <figure class="image is-hero-bg is-hidden-fullhd">
      {{ partial "common/srcset" (dict "resource" (resources.Get "img/toc-template/hero.png") ) }}
    </figure>
    <figure class="image is-hero-bg is-fullhd">
      {{ partial "common/srcset" (dict "resource" (resources.Get "img/toc-template/hero-large.png") "desktop" "1440x" "tablet" "960x" "mobile" "750x") }}
    </figure>
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ T .title }}</h1>
        {{ with .body }}
        <div class="content">
          {{ T . | markdownify }}
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}

  <div class="dropdown toc-dropdown">
    <div class="dropdown-trigger">
      <span>Table of Contents</span>
      <span class="icon is-small is-angle-down">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.4848 6.24264L6.24219 10.4853L1.99955 6.24264" stroke="#111111" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </span>
      <span class="icon is-small is-angle-up">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.99955 6.24259L6.24219 1.99995L10.4848 6.24259" stroke="#111111" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </span>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        {{ partial "toc" (dict "content" .Params.toc "level" 2) }}
      </div>
    </div>
  </div>

  <section class="main-body">
    <div class="sidebar">
      <div class="toc-card">
        <div class="toc-title">Table of Contents</div>
        <div class="toc-content">{{ partial "toc" (dict "content" .Params.toc "level" 2) }}</div>
      </div>
    </div>

    <div class="main-content">{{.Content}}</div>
  </section>

  {{ partial "common/template-script" (dict "asset" "js/toc-template.js") }}
</main>{{ end }}