{{ define "stylesheets" }}
<style>
{{ (resources.Get "css/common/video-js.min.css").Content | safeCSS }}
</style>
{{ end }}

{{ define "scripts"}}
{{ $src := resources.Get "js/common/glide.min.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $src.RelPermalink }}" integrity="{{ $src.Data.Integrity }}"></script>
{{ end }}
{{ define "main" }}<main class="75">

{{ with .Params.hero }}
<section class="hero is-fullheight-with-navbar is-75">
  <figure class="image is-hero-bg is-hidden-mobile">
    {{ partial "common/srcset" (dict "resource" (resources.Get "img/75/hero.png") "desktop" "2880x" "tablet" "2048x" "mobile" "750x" "options" "jpg #FFFFFF") }}
  </figure>
  <div class="hero-body">
    <div class="container">
      <div class="title-text">
        <h4 class="subtitle">
          {{ T .subtitle | markdownify }}
        </h4>
        <h1 class="title">
          {{ T .title | markdownify }}
        </h1>
        <p>
        {{ T .body | markdownify }}
        </p>
      </div>

      <div class="cta">
        {{ with .cta }}
        <a class="button is-hero-cta{{ with .class }} {{ . }}{{ end }}"
           href="{{ .url | relLangURL }}"
           {{ if .target }} target="_blank" {{ end }}
           >
          <span>{{ T .title }}</span>
          {{ with .icon }}
          <span class="icon">
            {{ (resources.Get .).Content | safeHTML }}
          </span>
          {{ end }}
        </a>
        {{ end }}
      </div>

      <figure class="image is-hero is-hidden-tablet">
        {{ $src := resources.Get "img/75/hero-mobile.jpg" | resources.Fingerprint }}
        <img src="{{ $src.RelPermalink }}" alt="Vibe board" />
      </figure>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.canvas_section }}
<section class="section is-canvas {{ with .class }} {{ . }}{{ end }}">
  {{ $glide := gt (len .canvases) 1 }}
  {{ if $glide }}
    {{ partial "glide" (dict "class" "canvases" "partial" "canvas" "context" .canvases "is_rectangle_dots" .is_rectangle_dots) }}
  {{ else }}
    {{ range .canvases }}
      {{ partial "canvas" . }}
    {{ end }}
  {{ end }}
</section>
{{ end }}

{{ with .Params.feature_set_1 }}
<section class="section is-overview is-upper">
  <div class="container">
    {{ with .title }}<h1 class="title is-section-title">{{ T . }}</h1>{{ end }}
    {{ range .animation }}
      <figure class="image is-overall-image">
        {{ if .animated }}
        {{ $gif := resources.Get .figure | resources.Fingerprint }}
        <img class="overlay" src="{{ $gif.RelPermalink }}" alt="animation" />
        {{ else }}
        {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "desktop" "1300x" "mobile" "750x" "options" "jpg #ffffff") }}
        {{ end }}
      </figure>
    {{ end }}

    <div class="columns is-vcentered{{ with .class }} {{ . }}{{ end }}">
    {{ range .features }}
      <div class="column is-text">
        <h2 class="title">{{ T .title | markdownify }}</h2>
        <div class="content">
          {{ T .body | markdownify }}
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.feature_set_2 }}
<section class="section is-chromium-os is-upper">
  <div class="container">
    {{ with .title }}<h1 class="title is-section-title">{{ T . }}</h1>{{ end }}
    {{ with .body }}<p class="content">{{ T . }}</p>{{ end }}
    <div class="more">
      {{ with .cta }}
        <a href="{{ .url | relLangURL }}">{{ default .title (T .title) }}</a>
      {{ end }}
    </div>
    <video autoplay muted playsinline>
          {{ $src := resources.Get "video/75/chromium.mp4" | resources.Fingerprint }}
          <source src="{{ $src.RelPermalink }}" type="video/mp4">
        </video>
    <div class="columns is-vcentered{{ with .class }} {{ . }}{{ end }}">
    {{ range .features }}
      <div class="column is-text">
        <h2 class="title">{{ T .title | markdownify }}</h2>
        <div class="content last-hidden">
          {{ T .body | markdownify }}
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.apps }}
<section class="section is-apps">
  <div class="container">
    {{ with .title }}<h1 class="title is-section-title">{{ T . }}</h1>{{ end }}
    {{ with .body }}<p class="content">{{ T . }}</p>{{ end }}
    <div class="more">
      {{ with .cta }}
        <a href="{{ .url | relLangURL }}">{{ default .title (T .title) }}</a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}


{{ with .Params.security }}
{{ partial "security" .}}
{{ end }}



{{ with .Params.spec }}
<section class="section is-spec">
  <div class="container">
    {{ with .title }}<h1 class="title is-section-title">{{ T . }}</h1>{{ end }}

    <div id="specs">
      <div class="columns">
        {{ range .columns }}
        <div class="column">
          {{ range . }}
          <div class="spec-table">
            <h2 class="title">{{ T .title }}</h2>
            <table class="table is-fullwidth">
              <tbody>
                {{ range .items }}
                <tr>
                  <td>{{ T .name }}</td>
                  <td>{{ T .value | markdownify }}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
      {{ with .cta }}
      <div class="cta">
        <a class="button{{ with .class }} {{ . }}{{ end }}"
           href="{{ .url }}"
           target="_blank">
          {{ T .title }}
        </a>
      </div>
      {{ end }}

    </div>
    <div class="spec-mask" id="spec-mask"></div>
    <button class="button is-specs-chevron toggle-specs" data-target="specs">
      <a class="see-all" id="feature-see-all">
        {{ T .see_all }}
      </a>
    </button>
  </div>
</section>
{{ end }}

{{ with .Params.feature_columns }}
{{ partial "feature-columns" . }}
{{ end }}

{{ with .Params.three_faqs }}
{{ partial "three-faqs" . }}
{{ end }}


{{ with .Params.bottom_cta }}
{{ partial "bottom-cta" . }}
{{ end }}

{{ partial "common/template-script" (dict "asset" "js/common/testimonials.js") }}
{{ partial "common/template-script" (dict "asset" "js/hardware.js") }}
{{ partial "common/template-script" (dict "asset" "js/75&55.js") }}
{{ partial "common/template-script" (dict "asset" "js/canvas.js") }}
</main>{{ end }}
