<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "Vibe Interative Whiteboard",
  "image": [
    "https://vibe.us/img/vibe_board_v1_1x1.jpg",
    "https://vibe.us/img/vibe_board_v1_4x3.jpg",
    "https://vibe.us/img/vibe_board_v1_16x9.jpg"
    ],
  "description": "Vibe packs digital whiteboard technology, video conferencing, wireless screencasting, third-party app integrations, and more into a sleek package.",
  "sku": "V1-BOARD",
  "brand": {
    "@type": "Brand",
    "name": "Vibe"
  },
  "review": {
    "@type": "Review",
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": "5",
      "bestRating": "5"
    },
    "author": {
      "@type": "Person",
      "name": "TFresquez"
    },
    "reviewBody": "This product sounds great, and it actually is great in practice. It has features that can’t compare to any of the other options out there. What makes this solution superior is the software behind the scenes. Always getting updates too for more and more improvements! A definite recommend for home office or business!"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.6",
    "reviewCount": "16"
  },
  "offers": {
    "@type": "Offer",
    "url": "https://vibe.us/order",
    "priceCurrency": "USD",
    "price": "2999",
    "itemCondition": "https://schema.org/NewCondition",
    "availability": "https://schema.org/InStock"
  }
}
</script>