{{ define "main" }}<main class="pricing">

{{ with .Params.hero }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <figure class="image is-hero-bg">
        {{ (resources.Get "img/pricing/hero-bg.svg").Content | safeHTML }}
      </figure>
      <div class="content">
        <h1 class="title">{{ .title | markdownify }}</h1>
        <p class="body">{{ .body | markdownify }}</p>
        <div class="is-plans columns is-mobile">
          {{ range .plans }}
          <div class="is-plan column{{ with .class }} {{ . }}{{ end }}">
            <div class="plan-title">{{ .title }}</div>
            <div class="plan-body">{{ .body }}</div>
            <div class="subscription">
              {{ with .subscription }}
              <div class="price">
                <span class="amount">${{ .price }}</span>
                {{ with .period }}
                <span class="period">/{{ . }}</span>
                {{ end }}
              </div>
              {{ with .body }}<div class="description">{{ . }}</div>{{ end }}
              {{ end }}
            </div>
            <div class="split-line"></div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.features }}
<section class="section is-features">
  <div class="container">
    <div class="is-plans columns is-mobile">
      {{ range .plans }}
      <div class="is-plan column{{ with .class }} {{ . }}{{ end }}">
        {{ with .features }}
        <div class="feature-list">
          <div class="feature-title">{{ .title }}</div>
          {{ $list_icon := .list_icon }}
          {{ range .body }}
          <div class="feature-item">
            <div class="list-icon">
              {{ (resources.Get $list_icon).Content | safeHTML }}
            </div>
            <div class="text">{{ . }}</div>
          </div>
          {{ end }}
        </div>
        {{ with .cta }}
        <div class="cta">
          <a class="button {{ with .class }} {{ . }}{{ end }}" href="{{ .url }}">
            {{ .title }}
          </a>
        </div>
        {{ end }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.vibe_ad }}
<section class="section is-vibe-ad">
  <div class="container">
    {{ with .background }}
    <figure class="image is-section-bg">
      {{ (resources.Get .).Content | safeHTML }}
    </figure>
    {{ end }}
    {{ with .figure }}
    <figure class="image is-ad-figure">
      {{ partial "common/srcset" (dict "resource" (resources.Get .) "desktop" "750x" "options" "png") }}
    </figure>
    {{ end }}
    {{ with .title }}
    <div class="title">
      <span class="text">{{ .text }}</span>
      {{ with .link }}
      <a class="link" href="{{ .url }}" target="_blank">{{ .text }}</a>
      {{ end }}
    </div>
    {{ end }}
    {{ with .cta }}
    {{ with .link }}
    <a class="cta link{{ with .class }} {{ . }}{{ end }}" {{ with .target }}data-target="{{ . }}"{{ end }}>
      <span class="to-show">{{ .to_show }}</span>
      <span class="to-hide">{{ .to_hide }}</span>
      {{ with .icon }}
      <span class="link-icon{{ with .class}} {{ . }}{{ end }}">{{ .text }}</span>
      {{ end }}
    </a>
    {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}

{{ with .Params.features_with_vibe }}
<section class="section is-features-with-vibe" {{ with .id }}id="{{ . }}"{{ end }}>
  <div class="container">
    <div class="is-plans columns is-mobile">
      {{ range .plans }}
      <div class="is-plan column{{ with .class }} {{ . }}{{ end }}">
        {{ with .features_with_vibe }}
        <div class="feature-list">
          <div class="feature-title">{{ .title }}</div>
          {{ $list_icon := .list_icon }}
          {{ range .body }}
          <div class="feature-item">
            <div class="list-icon">
              {{ (resources.Get $list_icon).Content | safeHTML }}
            </div>
            <div class="text">{{ . }}</div>
          </div>
          {{ end }}
        </div>
        {{ with .cta }}
        <div class="cta">
          <a class="button {{ with .class }} {{ . }}{{ end }}" href="{{ .url }}">
            {{ .title }}
          </a>
        </div>
        {{ end }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.add_ons}}
<section class="section is-add-ons{{ with .class }} {{ . }}{{ end }}">
  <div class="container">
    <div class="title">{{ .title }}</div>
    <div class="is-add-ons">
      {{ range .add_on_plans }}
      <div class="is-add-on columns is-mobile{{ with .class }} {{ . }}{{ end }}">
        <div class="column brief-column is-one-third">
          <div class="header">
            <div class="add-on-title">{{ .title }}</div>
            <div class="add-on-body">{{ .body }}</div>
            <div class="subscription">
              {{ with .subscription }}
              <div class="price">
                <span class="amount">${{ .price }}</span>
                {{ with .period }}
                <span class="period">/{{ . }}</span>
                {{ end }}
              </div>
              {{ with .body }}<div class="description">{{ . }}</div>{{ end }}
              {{ end }}
            </div>
          </div>
          {{ with .cta }}
          <div class="cta">
            <a class="button {{ with .class }} {{ . }}{{ end }}" href="{{ .url }}">
              {{ .title }}
            </a>
          </div>
          {{ end }}
        </div>
        <div class="column feature-column">
          {{ with .features }}
          <div class="feature-list">
            <div class="feature-title">{{ .title }}</div>
            {{ $list_icon := .list_icon }}
            {{ range .body }}
            <div class="feature-item">
              <div class="list-icon">
                {{ (resources.Get $list_icon).Content | safeHTML }}
              </div>
              <div class="text">{{ . }}</div>
            </div>
            {{ end }}
          </div>
          {{ with .cta }}
          <div class="cta">
            <a class="link {{ with .class }} {{ . }}{{ end }}" {{ with .url }}href="{{ . }}"{{ end }}>
              {{ .title }}
            </a>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.comparison }}
<section class="section is-comparison" {{ with .id }}id="{{ . }}"{{ end }}>
  <div class="container">
    {{ $comparison_id := "comparison" }}
    {{ with .cta }}
    <div class="is-cta">
      <div class="title">{{ .title }}</div>
      {{ with .link }}
      <a class="link{{ with .class }} {{ . }}{{ end }}"{{ with .target }}{{ $comparison_id = . }} data-target="{{ . }}"{{ end }}>
        {{ with .icon }}
        <span class="link-icon{{ with .class }} {{ . }}{{ end }}">
          {{ partial "common/mdi" .mdi_icon }}
        </span>
        {{ end }}
      </a>
      {{ end }}
    </div>
    {{ end }}
    <div class="is-comparison-wrapper">
      {{ partial "comparison-saas-plans" (dict "features" $.Site.Data.comparison_saas_plans.features "plans" $.Site.Data.comparison_saas_plans.plans "platforms" $.Site.Data.comparison_saas_plans.platforms "plans_info" $.Params.plans) }}
      {{ with .cta.link }}
      <a class="link{{ with .class }} {{ . }}{{ end }}" {{ with .target }}{{ $comparison_id = . }} data-target="{{ . }}"
        {{ end }}>
        {{ with .icon }}
        <div class="link-icon{{ with .class }} {{ . }}{{ end }}">
          {{ partial "common/mdi" .mdi_icon }}
        </div>
        {{ end }}
      </a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.faq }}
{{ partial "faq" . }}
{{ end }}

{{ partial "common/template-script" (dict "asset" "js/pricing.js") }}
</main>{{ end }}
