.section.is-apps
  +vertical-padding(120px)

  +lang-override(".lang-zh")
    padding-top: 83px
  &.is-lower
    padding-bottom: 0
  .title.is-section-title
    max-width: 876px
    text-align: center
    margin: 0 auto 24px
    +mobile
      margin: 0 -1rem 24px
  .content
    max-width: 773px
    text-align: center
    margin: 0 auto 16px
    +mobile
      margin: 0 -1rem 24px
      font-size: 16px
      line-height: 23px
  .see-all
    margin-bottom: 90px
    text-align: center
    +mobile
      margin-bottom: 52px
    a
      color: #6666CC
  .group
    @media screen and ( min-width: 767px )
      width: 768px
    +desktop
      width: 1024px
    +until-widescreen
      width: 1280px
    +fullhd
      width: 1440px
    .logos-group
      display: flex
      +mobile
        width: 375px
      @media screen and ( min-width: 413px ) and ( max-width: 767px )
          width: 414px
      @media screen and ( min-width: 767px )
        width: 768px
      +desktop
        width: 1024px
      @media screen and ( min-width: 1279px )
        width: 1280px
      +fullhd
        width: 1440px
        height: 90px
        margin-bottom: 48px
      .image
        cursor: pointer
        img
          width: auto
        @media screen and ( min-width: 767px )
          width: 48px
          margin: 0 8px
        +desktop
          width: 65px
          margin: 0 10px
        @media screen and ( min-width: 1279px )
          width: 76px
          margin: 0 15px
        +fullhd
          width: 84px
          margin: 0 18px
    .logos-group.logos-group-1
      margin-left: 60px
      @media screen and ( min-width: 767px )
        margin-left: 32px
      +mobile
        margin-left: 28px
      @media screen and ( min-width: 1279px )
        margin-left: 53px
  .group-mobile
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    margin: 0 -1rem
    .logos-group
      display: flex
      height: auto
      margin-bottom: 1.5rem
      .image
        cursor: pointer
        +mobile
          width: 35px
          margin: 0 9px
        @media screen and ( min-width: 413px ) and ( max-width: 767px )
          width: 39px
          margin: 0 10px
        img
          width: auto
    .logos-group.logos-group-1
      margin-left: 53px
      @media screen and ( min-width: 413px ) and ( max-width: 767px )
        margin-left: 60px
    .logos-group.logos-group-3
      margin-left: 53px
      @media screen and ( min-width: 413px ) and ( max-width: 767px )
        margin-left: 60px
  .apps-mask
    position: absolute
    z-index: 99
    top: 0
    height: 100%
  .apps-mask.apps-mask-left
    background: linear-gradient(90deg, #FFFFFF -20%, rgba(255, 255, 255, 0) 100%)
  .apps-mask.apps-mask-right
    background: linear-gradient(270deg, #FFFFFF -20%, rgba(255, 255, 255, 0) 100%)
  .group .apps-mask-left
    width: 210px
    +touch
      width: 150px
  .group .apps-mask-right
    width: 190px
    +touch
      width: 140px
    +mobile
      margin-left: 320px
    @media screen and ( min-width: 767px )
      margin-left: 600px
    +desktop
      margin-left: 740px
    @media screen and ( min-width: 1279px )
      margin-left: 955px
    +fullhd
      margin-left: 1100px
  .group-mobile .apps-mask-left
    width: 70px
    margin-left: -255px
    @media screen and ( min-width: 413px )
      width: 110px
      margin-left: -257px
  .group-mobile .apps-mask-right
    width: 70px
    margin-left: 276px
    @media screen and ( min-width: 413px )
      width: 110px
      margin-left: 287px


