@import "_common.sass"

.hero, .section
  overflow: hidden

.hero .hero-body, .section
  padding-top: 120px
  padding-bottom: 120px
  +mobile
    padding-top: 64px
    padding-bottom: 64px

@import "_bottom_cta.sass"
