@import "_shared.sass"
@import "_bottom-cta.sass"

.hero
  background-color: $vibe-yellow
  .hero-body
    +vertical-padding(80px, 56px)
  .title
    font-size: 64px
    +mobile
      font-size: 32px
  .title, .content
    text-align: center
  .single-content-block
    line-height: 27px
    .icon
      margin-right: 5px
      vertical-align: -2px
    .link
      line-height: 1em
      text-decoration-line: underline
      text-decoration-thickness: 2px
      font-weight: 500
  .spacing-block
    width: 100%
    height: 15px

.section.is-contact
  +vertical-padding(0, 80px)
  background: linear-gradient(to bottom, $vibe-yellow 220px, $vibe-white 220px)
  .container
    &.is-form
      background-color: white
      max-width: 760px
      padding: 64px 72px
      +mobile
        padding: 8px 20px
      .privacy
        text-align: center
        &.eu-privacy
          text-align: left
    &.is-support
      margin-top: 40px
  .columns.is-buttons .control
    text-align: center
    .button
      width: 224px
  .title, .subtitle
    font-size: 24px
  .title, .subtitle, .content
    text-align: center
  .container.is-support
    a
      font-weight: $vibe-bold
      text-decoration: underline
  .is-form.is-submitted .form
    .columns, .privacy
      visibility: hidden
      opacity: 0 // mdb hack
    .submitted
      display: flex
      align-items: center

.form.is-vibe-form
  .input, .select select, .button, .textarea
    +mobile
      font-size: 14px
    +tablet
      font-size: 16px
