@import "_shared.sass"
@import "_bottom-cta.sass"

.hero
  background-color: $vibe-yellow
  .hero-body
    +vertical-padding(80px, 56px)
  .title
    font-size: 64px
    +mobile
      font-size: 32px
  .title, .content
    text-align: center
  .single-content-block
    line-height: 27px
    &.display-flex
      display: flex
      justify-content: center
      align-items: center
    .icon
      margin-right: 5px
      margin-bottom: 4px
    .link
      line-height: 1em
      text-decoration-line: underline
      text-decoration-thickness: 2px
      font-weight: 500
  .spacing-block
    width: 100%
    height: 15px

.section.is-contact
  +vertical-padding(0, 80px)
  background: linear-gradient(to bottom, $vibe-yellow 220px, $vibe-white 220px)
  .container
    &.is-form
      background-color: white
      max-width: 760px
      padding: 64px 72px
      .privacy
        text-align: center
    &.is-support
      margin-top: 40px
  .columns.is-buttons .control
    text-align: center
    .button
      width: 224px
  .title
    font-size: 24px
  .title, .content
    text-align: center
  .container.is-support
    a
      font-weight: $vibe-bold
      text-decoration: underline
  .container.is-form.is-submitted
    .form
      visibility: hidden
      .submitted
        display: flex
        visibility: visible
