@import "@glidejs/glide/src/assets/sass/glide.core"
@import "_shared.sass"
@import "_customers.sass"
@import "_description-section.sass"
@import "_scenario-section.sass"
@import "_bottom-cta.sass"
@import "_before-nav.sass"
@import "_as-seen-in.sass"
@import "_customer-story-section.sass"

@-webkit-keyframes fadeIn
  0%
    opacity: 1
  50%
    opacity: .3
  100%
    opacity: 0
    visibility: none

.navbar
  &.is-active
    display: none

.hero.is-home
  transition: all .6s ease .1s
  .normal-video
    display: none
  &.is-active
    +tablet
      min-height: calc( 54.5vw * 1.02 )
      overflow: unset
    .image.is-video-close
      display: block
    .container
      animation: fadeIn .6s forwards linear
      -webkit-animation: fadeIn .6s forwards linear
      transform: translateX(-3rem)
      transition: transform .6s ease .1s
      -webkit-transition: transform .6s ease .1s
    .video-launcher .image .normal-video video
      transform: scale(1, 1.05)
      transition: transform .6s ease .1s
      -webkit-transition: transform .6s ease .1s
    .normal-video
      display: block
    .preview
      display: none

.hero.is-home
  position: relative
  +tablet
    min-height: 54.5vw
  @media screen and ( min-width: 1600px )
    min-height: 860px
  .image.is-video-close
    display: none
    position: absolute
    z-index: 10
    top: 4.1vw
    right: 4.1vw
    svg
      +tablet
        width: 38px
        height: 38px
  .hero-body
    align-items: unset
    +mobile
      padding-bottom: 0
  .container
    +tablet
      max-width: 76.3vw
      margin-top: 9.5vw
    +fullhd
      margin-top: 146px
      max-width: 1100px
  .video-launcher
    +absolute-fill
    width: 100vw
    *:focus
      outline: none
    @media screen and ( min-width: 1600px )
      width: 1600px
      margin: auto
    .image
      line-height: 0
      video
        width: 100vw
        @media screen and ( min-width: 1600px )
          width: 1600px
      iframe, .video-js
        +absolute-fill
    .preview
      position: relative
      .mask
        +absolute-fill
        background-color: rgba(0,0,0,0.25)
        display: flex
        align-items: center
        justify-content: center
  .title-text
    color: #FFFFFF
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25)
    +mobile
      margin-bottom: 32px
    +tablet
      max-width: 480px
      margin-bottom: 3.5rem
    +desktop
      max-width: 801px
    .title
      margin-bottom: 1rem
      font-size: 72px
      line-height: 130%
      color: inherit
      +mobile
        font-size: 40px
        line-height: 116%
      +tablet-only
        font-size: 36px
        line-height: 36px
    .content
      max-width: 453px
      font-size: 18px
      line-height: 150%
      +lang-override(".lang-zh")
        display: none
    .title .content
      display: flex
  .cta
    +mobile
      text-align: center
    .button.is-hero-cta
      +mobile
        min-width: 270px
      +tablet
        width: 234px
        height: 58px
        font-size: 20px
      font-weight: $vibe-bold
      &:not(:last-child)
        margin-right: 1.25rem

  .subcta-row
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 1.5rem
    .subcta
      font-size: 19px
      line-height: 23px
      &.is-logged-in
        display: none
      +mobile
        display: none
      span
        color: $light
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25)
      a
        margin-left: 18px
        font-weight: $vibe-bold
        color: $primary
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25)
    .video-play
      display: flex
      align-items: center
      cursor: pointer
      .image.is-video-play
        height: 31px
        svg
          width: 31px
          height: 31px
      p
        margin-left: 1rem 
        font-size: 19px
        line-height: 23px
        color: $vibe-white
        

.section.is-video-hero
  a
    color: $vibe-purple
    &:hover
      color: $vibe-pink
  +lang-override(".lang-zh")
    .is-footnote
      font-size: 16px
      margin-top: 32px
    .title
      margin-bottom: 40px
    .content
      line-height: 1.6

.section.is-as-seen-in
  .container
    .title
      display: none
  .references-wrapper
    padding-left: 0
.section.is-values
  +vertical-padding(88px)
  background: rgba(244, 244, 244, 0.4)
  .container
    max-width: 1140px
    +desktop
      padding-left: 1.25rem
    +widescreen
      padding-left: 3rem
    .columns
      +touch
        display: block
        text-align: center
      .column
        &:not(:last-child)
          margin-bottom: 2rem
      .title-row
        display: flex
        align-items: center
        +touch
          display: block
        .image
          img
            width: 72px
            height: 72px
            +touch
              margin: 0 auto
            +mobile
              width: 50px
              height: 50px
        .title
          font-size: 30px
          line-height: 38px
          color: #4A4A4A
          +touch
            margin-top: .5rem
            margin-bottom: .5rem
          +mobile
            font-size: 18px
            line-height: 23px
          +desktop
            margin-left: 14px
      .content
        max-width: 324px
        margin-top: 22px
        font-size: 18px
        line-height: 144%
        color: #000000
        +touch
          margin: 0 auto
        +mobile
          max-width: 242px
          font-size: 14px

.section.is-customer-story-section
  background-color: #fff
  .container
    .is-story-card.video-popup
      +mobile
        margin: 0 1rem .25rem
    .is-section-title
      line-height: 63px
      +mobile
        font-size: 32px
        line-height: 40px
    .glide-dots
      +mobile
        margin-bottom: 40px
      +tablet
        margin-top: 20px
        margin-bottom: 62px
      @media screen and ( min-width: 413px ) and ( max-width: 767px )
        margin-top: 16px
    .customer-logo-group
      +mobile
        margin: 0 1rem
    .glide__slide .column.is-single-column
      .blog-content
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1)
        +mobile
          box-shadow: 0px 2.5px 4px rgba(0, 0, 0, 0.1)
      @media screen and (min-width: 1200px)
        .figure-for-desktop img
            width: 749px
            height: 470px
        .blog-content
          width: 352px
          height: 470px
          padding-top: 50px
          padding-bottom: 32px
          .is-content
            padding-right: 36px
            margin-left: 39px
            .is-blog-testimonial
              font-size: 24px
              line-height: 30px
              color: #000000
            .is-blog-title
              margin-bottom: 9px
              line-height: 15px
              color: #BDBDBD
            .is-blog-name, .is-blog-content
              font-size: 16px
              line-height: 135%
.section
  +mobile
    +lang-override(".lang-zh")
      &.is-testimonial
        .content
          padding-left: 18px
          padding-right: 22px
          margin-bottom: 0
        .author
          margin-top: 0
      &.is-feature
        padding-top: 12px
        padding-bottom: 12px
        .container .subtitle
          font-size: 30px
          line-height: 30px
      &.is-feature-1,&.is-feature-3,&.is-feature-4
        padding-top: 60px
      &.is-feature-2
        padding-bottom: 60px
      &.is-feature-3,&.is-feature-5
        padding-bottom: 0
      .container .is-section-title.title
        margin-bottom: 32px
      .video-launcher
        margin-top: 30px
      .content.is-footnote
        margin-top: 16px
        font-size: 12px
        margin-bottom: 36px

