@import "@glidejs/glide/src/assets/sass/glide.core"
@import "_shared.sass"
@import "_customers.sass"
@import "_description-section.sass"
@import "_video-hero.sass"
@import "_scenario-section.sass"
@import "_bottom-cta.sass"
@import "_before-nav.sass"
@import "_as-seen-in.sass"
@import "_customer-story-section.sass"

.hero
  position: relative
  +mobile
    .hero-body
      padding-bottom: 0
  .image.is-hero-bg
    +absolute-fill
    +tablet-only
      right: -80px
    img
      width: 100%
      height: 100%
      object-fit: cover
      +mobile
        object-position: 62% 50%
  .container
    +fullhd
      max-width: 1100px
  .title-text
    +mobile
      margin-bottom: 32px
    +tablet
      max-width: 480px
      +lang-override(".lang-zh")
        max-width: 400px
      margin-bottom: 72px
    +desktop
      max-width: 500px
    .title
      font-size: 38px
      line-height: 48px
      +lang-override(".lang-zh")
        font-size: 50px
      +mobile
        font-size: 32px
        line-height: 40px
      +tablet-only
        font-size: 36px
        line-height: 36px
    p
      max-width: 435px
      +lang-override(".lang-zh")
        display: none
    .title p
      display: flex
  .cta
    +mobile
      text-align: center
    .button.is-hero-cta
      +mobile
        min-width: 270px
      +tablet
        width: 234px
        height: 58px
        font-size: 20px
      font-weight: $vibe-bold
      &:not(:last-child)
        margin-right: 20px
  .subcta
    margin-top: 20px
    &.is-logged-in
      display: none
    +mobile
      display: none
    a
      font-weight: 500
      color: $primary
      margin-left: 18px
  .image.is-hero
    +mobile-full-width

.section.is-video-hero
  a
    color: $vibe-purple
    &:hover
      color: $vibe-pink
  +lang-override(".lang-zh")
    .is-footnote
      font-size: 16px
      margin-top: 32px
    .title
      margin-bottom: 40px
    .content
      line-height: 1.6
.section.is-feature
  padding: 3rem 1.5rem
  &.is-feature-1
    padding-top: 120px
    +mobile
      padding-top: 64px
  &.is-feature-2
    padding-bottom: 90px
  &.is-feature-3
    +mobile
      padding-bottom: 0
  &.is-feature-4
    +tablet
      padding-top: 108px
  &.is-feature-1, &.is-feature-3, &.is-feature-5
    .columns
      flex-direction: row-reverse
  +tablet
    &.is-feature-2, &.is-feature-4
      .column.is-text
        margin-left: 64px
  font-size: 18px
  +mobile
    font-size: 16px
  .container
    max-width: 1224px
    .subtitle
      +desktop
        +lang-override(".lang-zh")
          font-size: 50px
          line-height: 70px
          margin-bottom: 44px
  .column.is-text
    max-width: 500px
  .column.is-image
    position: relative
    +tablet
      .image
        position: absolute
      .overlay
        +absolute-fill
  .cta
    font-weight: $vibe-bold
    a
      display: flex
      align-items: center
      color: $vibe-purple
      &:hover
        color: $primary
      &:hover svg
        fill: $primary
      span.icon
        margin-left: 12px
  &.is-feature-3
    background-color: $vibe-teal
  +tablet
    &.is-feature-1
      .column.is-image
        height: 473px
      .image
        width: 774px
        right: 0
        +widescreen
          right: 120px
    &.is-feature-2
      .column.is-image
        height: 492px
      .image
        width: 782px
        left: 0
        +widescreen
          left: 160px
    &.is-feature-3
      position: relative
      padding-top: 120px - 12px
      min-height: 810px
      +lang-override(".lang-zh")
        padding-top: 120px
        min-height: 743px
        .content
          margin-top: 48px
      .container, .column.is-image
        position: static
      .column.is-text
        z-index: 1
      .image
        width: 993px
        bottom: 0
        left: -300px
        +from(1024px)
          left: -150px
        +from(1480px)
          left: 0
        +from(1920px)
          left: auto
          right: 50%
        .overlay
          +tablet
            background: linear-gradient(90deg,rgba(102, 204, 204, 0.1) 50%,rgba(102, 204, 204, 0.9) 75%)
          +from(1100px)
            background: linear-gradient(90deg,rgba(102, 204, 204, 0.1) 55%,rgba(102, 204, 204, 0.9) 80%)
          +from(1230px)
            background: none
    &.is-feature-4
      .column.is-image
        height: 566px
      .image
        width: 820px
        left: 0
        +widescreen
          left: 160px
      +lang-override(".lang-zh")
        p
          margin: 0
    &.is-feature-5
      padding-bottom: 0
      .column.is-image
        height: 659px
      .image
        width: 707px
        right: 0
        +widescreen
          right: 120px
  +mobile
    &.is-feature-5
      padding-bottom: 0
  +lang-override(".lang-zh")
    .column.is-text .content
      max-width: 436px

.section.is-as-seen-in
  .container
    .title
      display: none
  .references-wrapper
    padding-left: 0
.section.is-values
  +vertical-padding(88px)
  background: rgba(244, 244, 244, 0.4)
  .container
    max-width: 1140px
    margin: 0 auto
    +desktop
      padding-left: 1.25rem
    +widescreen
      padding-left: 3rem
    .columns
      +touch
        display: block
        text-align: center
      .column
        &:not(:last-child)
          margin-bottom: 2rem
      .title-row
        display: flex
        align-items: center
        +touch
          display: block
        .image
          img
            width: 72px
            height: 72px
            +touch
              margin: 0 auto
            +mobile
              width: 50px
              height: 50px
        .title
          font-size: 30px
          line-height: 38px
          color: #4A4A4A
          +touch
            margin-top: .5rem
            margin-bottom: .5rem
          +mobile
            font-size: 18px
            line-height: 23px
          +desktop
            margin-left: 14px
      .content
        max-width: 324px
        margin-top: 22px
        font-size: 18px
        line-height: 144%
        color: #000000
        +touch
          margin: 0 auto
        +mobile
          max-width: 242px
          font-size: 14px

.section.is-customer-story-section
  background-color: #fff
  .container
    .is-story-card.video-popup
      +mobile
        margin: 0 1rem .25rem
    .is-section-title
      line-height: 63px
      +mobile
        font-size: 32px
        line-height: 40px
    .glide-dots
      +mobile
        margin-bottom: 40px
      +tablet
        margin-top: 20px
        margin-bottom: 62px
      @media screen and ( min-width: 413px ) and ( max-width: 767px )
        margin-top: 16px
    .customer-logo-group
      +mobile
        margin: 0 1rem
    .glide__slide .column.is-single-column
      .blog-content
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1)
        +mobile
          box-shadow: 0px 2.5px 4px rgba(0, 0, 0, 0.1)
      @media screen and (min-width: 1200px)
        .figure-for-desktop img
            width: 749px
            height: 470px
        .blog-content
          width: 352px
          height: 470px
          padding-top: 50px
          padding-bottom: 32px
          .is-content
            padding-right: 36px
            margin-left: 39px
            .is-blog-testimonial
              font-size: 24px
              line-height: 30px
              color: #000000
            .is-blog-title
              margin-bottom: 9px
              line-height: 15px
              color: #BDBDBD
            .is-blog-name, .is-blog-content
              font-size: 16px
              line-height: 135%
.section
  +mobile
    +lang-override(".lang-zh")
      &.is-testimonial
        .content
          padding-left: 18px
          padding-right: 22px
          margin-bottom: 0
        .author
          margin-top: 0
      &.is-feature
        padding-top: 12px
        padding-bottom: 12px
        .container .subtitle
          font-size: 30px
          line-height: 30px
      &.is-feature-1,&.is-feature-3,&.is-feature-4
        padding-top: 60px
      &.is-feature-2
        padding-bottom: 60px
      &.is-feature-3,&.is-feature-5
        padding-bottom: 0
      .container .is-section-title.title
        margin-bottom: 32px
      .video-launcher
        margin-top: 30px
      .content.is-footnote
        margin-top: 16px
        font-size: 12px
        margin-bottom: 36px

