@import "@glidejs/glide/src/assets/sass/glide.core"
@import "_shared.sass"
@import "_customers.sass"
@import "_description-section.sass"
@import "_scenario-section.sass"
@import "_bottom-cta.sass"
@import "_before-nav.sass"
@import "_as-seen-in.sass"
@import "_customer-story-section.sass"

.hero.is-home
  position: relative
  +touch
    min-height: 450px
  +mobile
    min-height: 463px
  +widescreen
    min-height: 85vh
  @media screen and ( min-width: 1439px ) and ( max-width: 1441px )
    min-height: 80vh
  .image.is-video-close
    display: none
    position: absolute
    z-index: 10
    cursor: pointer
    +mobile
      top: 4.1vw
      right: 4.1vw
    +tablet
      top: 2vw
      right: 4vw
    svg
      width: 38px
      height: 38px
  .hero-body
    display: flex
    align-items: center
    +mobile
      padding-bottom: 0
  .container
    +mobile
      width: 290px
    +tablet
      max-width: 76.3vw
    +fullhd
      max-width: 1100px
  .video-launcher
    +absolute-fill
    width: 100vw
    *:focus
      outline: none
    .image
      line-height: 0
      video
        width: 100vw
      iframe, .video-js
        +absolute-fill
    .preview
      position: relative
      .mask
        +absolute-fill
        background-color: rgba(0,0,0,0.45)
  .title-text
    color: #FFFFFF
    text-shadow: 0px 1px 4px rgba(17, 17, 17, 0.25)
    +mobile
      margin-bottom: 40px
    +tablet
      max-width: 480px
      margin-bottom: 4.75rem
    +desktop
      max-width: 801px
    .title
      margin-bottom: 1rem
      font-size: 72px
      line-height: 130%
      color: inherit
      +mobile
        max-width: 327px
        margin-bottom: 1rem
        font-size: 40px
        line-height: 116%
      +tablet-only
        font-size: 36px
        line-height: 36px
    .content
      max-width: 453px
      font-size: 18px
      line-height: 150%
      +mobile
        max-width: 283px
        font-size: 14px
        line-height: 144%
    .title .content
      display: flex
  .cta-row
    display: flex
    .cta
      &:nth-child(2) .button
        background-color: transparent
        color: $vibe-white
        border: 2px solid $vibe-white
      &:not(:first-child)
        margin-left: 1rem
      .button
        font-weight: $vibe-bold
        &:not(:last-child)
          background-color: unset
          margin-right: 1.25rem
        +mobile
          min-width: 143px
          height: 42px
          font-size: 16px
          line-height: 20px
        +tablet
          height: 60px
          font-size: 20px
    .video-play
      display: flex
      align-items: center
      cursor: pointer
      +mobile
        position: absolute
        top: -2rem
        left: 0
      @media screen and ( min-width: 767px ) and ( max-width: 769px )
        margin: 20px 0 0 4vw
      +desktop-only
        margin: 20px 0 0 14vw
      +widescreen
        margin: 20px 0 0 24vw
      .image.is-video-play
        height: 31px
        +mobile
          height: 22px
        svg
          width: 31px
          height: 31px
          +mobile
            width: 22px
            height: 22px
      p
        margin-left: 1rem 
        margin-right: -2rem
        font-size: 19px
        line-height: 23px
        color: $vibe-white
        
// 点击播放后的动画样式调整
@-webkit-keyframes fadeInContainer
  0%
    opacity: 0
    visibility: none
    transform: translateX(-3rem)
  50%
    opacity: .6
    transform: translateX(-1.5rem)
  100%
    opacity: 1

@-webkit-keyframes fadeInHome
  0%
    opacity: 0
    visibility: none
  50%
    opacity: .7
  100%
    opacity: 1

@-webkit-keyframes fadeOutHome
  0%
    opacity: 1
  50%
    opacity: .3
  100%
    opacity: 0
    visibility: none

.hero.is-home
  transition: all .6s ease .1s
  &:not(.is-active)
    .video-launcher video
      +mobile
        max-width: unset
        width: 251%
        height: 463px
        margin-left: -22%
        @media screen and ( min-width: 413px )
          margin-left: -30%
  &.is-active
    transition: all .001s ease .0011s
    +mobile
      min-height: 233px
      transition: min-height .6s ease .1s
      -webkit-transition: min-height .6s ease .1s
      @media screen and ( max-width: 376px )
        min-height: 211px
      .container
        display: none
    +widescreen
      min-height: 95vh
      overflow: unset
    .image.is-video-close
      display: block
    .container , .container.is-active
      animation: fadeOutHome .6s forwards linear
      -webkit-animation: fadeOutHome .6s forwards linear
      transform: translateX(-3rem)
      transition: transform .6s ease .1s
      -webkit-transition: transform .6s ease .1s
    .normal-video
      display: block
      animation: fadeInHome 1.6s forwards linear
      -webkit-animation: fadeInHome 1.6s forwards linear
      video
        height: 95vh
        +mobile
          height: auto
          transition: height .6s ease .1s
          -webkit-transition: height .6s ease .1s
    .preview
      display: none
  .normal-video
    display: none
    background: #000
  .container
    &.is-active
      animation: fadeInContainer .6s forwards linear
      -webkit-animation: fadeInContainer .6s forwards linear
      .video-launcher .normal-video
        display: none

.section.is-as-seen-in
  +vertical-padding(48px)
  .container
    +desktop-only
      padding: 0 80px
    .title
      display: none
  .references-wrapper
    padding-left: 0
.section.is-values
  +vertical-padding(88px)
  background: rgba(244, 244, 244, 0.4)
  .container
    max-width: 1220px
    padding-left: 1.25rem
    +widescreen
      padding-left: 3.75rem
    .columns
      +touch
        display: block
      .column
        &:not(:last-child)
          margin-bottom: 2rem
        +touch
          display: flex
          align-items: center
          .title-row
            margin-right: 1.25rem
          .title
            margin-bottom: .25rem
      .title-row
        display: flex
        align-items: center
        +touch
          display: block
        .image
          img
            width: 72px
            height: 72px
            +touch
              margin: 0 auto
            +mobile
              width: 50px
              height: 50px
      .title
        font-size: 30px
        line-height: 38px
        color: #000
        +touch
          margin-top: .5rem
          margin-bottom: .5rem
        +mobile
          font-size: 18px
          line-height: 23px
        +desktop
          margin-left: 14px
      .content
        max-width: 324px
        margin-top: 22px
        font-size: 18px
        line-height: 144%
        color: #000000
        +touch
          margin: 0 auto
        +mobile
          max-width: 242px
          font-size: 14px

.section.is-customer-story-section
  background-color: #fff
  .container
    .is-story-card.video-popup
      +mobile
        margin: 0 1.25rem .25rem
    .is-section-title
      max-width: 657px
      line-height: 63px
      +mobile
        max-width: 276px
        font-size: 32px
        line-height: 40px
    .glide-dots
      +mobile
        margin-bottom: 40px
      +tablet
        margin-top: 20px
        margin-bottom: 62px
      @media screen and ( min-width: 413px ) and ( max-width: 767px )
        margin-top: 16px
    .customer-logo-group
      +desktop-only
        margin: 0 4rem
      +touch
        margin: 0 1.5rem
      +mobile
        margin: 0 1rem
    .glide__slide .column.is-single-column
      .is-story-card
        box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1)
        @media screen and ( min-width: 767px ) and ( max-width: 1023px )
          margin: 0 1rem 1rem
        +mobile
          box-shadow: 0px 2.5px 4px rgba(0, 0, 0, 0.1)
      @media screen and (min-width: 1200px)
        .figure-for-desktop img
            width: 756px
            height: 470px
        .blog-content
          width: 352px
          height: 470px
          padding-top: 50px
          padding-bottom: 32px
          .is-content
            padding-right: 36px
            margin-left: 39px
            .is-blog-testimonial
              font-size: 24px
              line-height: 30px
              color: #000000
            .is-blog-title
              margin-bottom: 9px
              line-height: 15px
              color: #BDBDBD
            .is-blog-name, .is-blog-content
              font-size: 16px
              line-height: 135%
.section
  +mobile
    +lang-override(".lang-zh")
      &.is-testimonial
        .content
          padding-left: 18px
          padding-right: 22px
          margin-bottom: 0
        .author
          margin-top: 0
      &.is-feature
        padding-top: 12px
        padding-bottom: 12px
        .container .subtitle
          font-size: 30px
          line-height: 30px
      &.is-feature-1,&.is-feature-3,&.is-feature-4
        padding-top: 60px
      &.is-feature-2
        padding-bottom: 60px
      &.is-feature-3,&.is-feature-5
        padding-bottom: 0
      .container .is-section-title.title
        margin-bottom: 32px
      .video-launcher
        margin-top: 30px
      .content.is-footnote
        margin-top: 16px
        font-size: 12px
        margin-bottom: 36px

.section.is-bottom-cta
  .cta .button
    +mobile
      min-width: 270px
      