@import "_shared.sass"
@import "_customers.sass"
@import "_bottom-cta.sass"

.hero
  background-color: $vibe-teal
  .hero-body
    +vertical-padding(120px)
    +lang-override(".lang-zh")
      +vertical-padding(155px)
  .bg-logo
    position: absolute
    width: 535px
    top: -100px
    +lang-override(".lang-zh")
      top: -135px
    right: -240px
  .container
    max-width: 1096px
  .title
    font-size: 64px
    +lang-override(".lang-zh")
      font-size: 50px
    line-height: 78px
    +mobile
      font-size: 32px
      line-height: 40px
  .content
    max-width: 600px

.section.is-trust
  +vertical-padding(120px, 103px)
  background-color: $vibe-white
  .title
    text-align: center
    margin-bottom: 72px

.section.is-features
  +vertical-padding(120px)
  .container
    max-width: 1000px
  .title
    text-align: center
  .columns
    justify-content: space-between
  .column
    margin-top: 72px
    max-width: 400px + 24px
  .image
    max-width: 100px
    margin-bottom: 16px
  .content
    h2
      font-size: 24px

.section.is-specs
  +vertical-padding(120px)
  background-color: $vibe-black
  .container
    max-width: 1244px
  .column.is-text
    *
      color: white
  .title
    font-size: 30px
    margin-bottom: 48px
  .content
    max-width: 500px
  .cta
    margin-top: 80px
    .button
      font-size: 20px
      font-weight: $vibe-bold
      border-width: 2px
  .spec-item
    position: relative
    background-color: $vibe-teal
    padding: 20px
    padding-left: 80px
    display: flex
    align-items: center
    +tablet
      min-height: 92px
      font-size: 20px
    &:not(:last-child)
      margin-bottom: 8px
    .icon
      position: absolute
      left: 32px
      margin-top: 2px

.section.is-privacy
  +vertical-padding(120px, 70px)
  background-color: $vibe-white
  .container
    max-width: 1220px
  .title.is-section-title
    text-align: center
    max-width: 800px
    margin: 0 auto 28px auto
  .image
    max-width: 496px
    +desktop
      margin-left: 64px
  .column.is-text
    max-width: 500px + 24px
  .content
    h2
      font-size: 30px
      margin-bottom: 48px

.section.is-bottom-cta
  background-color: $vibe-yellow
  .container
    max-width: 1096px
    +tablet
      text-align: left
      display: flex
      align-items: center
      justify-content: space-between
  .title, .content
    max-width: 800px
  .content
    font-size: 20px
    +mobile
      margin-bottom: 32px
  .is-contact
    display: none
    position: absolute
    right: -64px
    +mobile
      right: 0
      top: 20px
  .is-active
    display: flex
