@import "@glidejs/glide/src/assets/sass/glide.core"
@import "_shared.sass"
@import "_three-faqs.sass"
@import "_video-hero.sass"
@import "_glide.sass"
@import "_testimonial.sass"
@import "_bottom-cta.sass"
@import "_before-nav.sass"
@import "_as-seen-in.sass"
@import "_canvas.sass"
@import "_apps.sass"
@import "_hero.sass"
@import "_security.sass"
@import "_feature-columns.sass"

.hero.is-55
  min-height: 1185px
  +mobile
    min-height: 1446px
  +tablet
    .hero-body
      max-width: 1440px
      +until-fullhd
        z-index: 29
    .hero-gallery-bg
      position: absolute
      z-index: 28
      top: 0
      right: 0
      width: 780px
      margin-top: -60px
      margin-right: -3%
      cursor: pointer

      .hero-gallery-img
        height: 720px
      .hero-gallery-img-hover
        display: none
    .hero-gallery-bg:hover
      .hero-gallery-img
        display: none
      .hero-gallery-img-hover
        display: unset
  .hero-gallery-bg
    @media screen and (max-width: 1200px)
      width: 680px
      margin-right: -7rem
      img
        margin-top: 3.5rem
    +widescreen
      margin-right: -6rem 
    @media screen and (min-width: 1580px)
      width: 820px
      margin-right: 8%
      img
        margin-top: -3.5rem
    @media screen and (min-width: 2879px)
      width: 820px
      margin-right: 21%
  .photo-gallery
    +mobile
      position: absolute
      z-index: 28
      width: calc(100% - 3rem)
      margin-top: 950px
      text-align: center
    @media screen and (min-width: 413px)
      margin-top: 1000px
    .button.is-photo-gallery
      margin: 0 auto
      font-weight: $vibe-bold;
      font-size: 16px;
      line-height: 20px;
      background-color: unset
      border: 0
      .icon
        svg
          width: 12px
          height: 12px
          margin-left: 8px
      .button:active, .button.is-active
        border: 0
.hero.is-55 .image.is-hero-bg img
  +mobile
    height: 1446px
  @media screen and ( min-width: 413px )
    height: 1515px

.section.is-testimonial
  margin-top: -450px
  padding-bottom: 60px
  background: #F4F4F4
  +mobile
    margin-top: -363px
    padding-top: 0
  @media screen and ( min-width: 413px )
    margin-top: -285px
  .testimonial-title
    position: relative
    margin-bottom: 48px
    font-family: Stratos
    font-style: normal
    font-weight: $vibe-bold
    font-size: 24px
    line-height: 30px
    color: #BDBDBD
    text-align: center
    +mobile
      margin-bottom:: 36px
  .testimonial-logo-group
    width: 878px
    height: 64px
    margin: 0 auto 64px
    +mobile
      width: 305px
      height: 40px
      margin-bottom: 40px
  .container
    max-width: 1080px
  .testimonials .icon.glide-nav
    display: none

.section.is-overview
  +vertical-padding(120px)
  +lang-override(".lang-zh")
    padding-top: 83px
  +mobile
    padding-left: 0
    padding-right: 0
  background: linear-gradient(360deg, #FFFFFF 14.75%, rgba(255, 255, 255, 0) 78.09%), #F4F4F4
  &.is-lower
    padding-bottom: 0
  .title.is-section-title
    max-width: 874px
    text-align: center
    margin-left: auto
    margin-right: auto
    +mobile
      width: 355px
  .columns
    justify-content: center
    +mobile
      width: 311px
      margin: 0 auto
    .features-items 
      display: flex
      flex-direction: column
  .column.is-text
    max-width: 500px + 12px * 2
    +lang-override(".lang-zh")
      max-width: 569px
    +mobile
      padding-left: .5rem
      padding-right: .5rem
    .title
      font-size: 32px
      font-weight: $vibe-bold
      line-height: 38px
      +mobile
        font-size: 18px
        line-height: 23x
    .content
      font-size: 18px
      line-height: 26px
      +mobile
        font-size: 14px
        line-height: 20px
    +lang-override(".lang-zh")
      .title
        font-size: 50px
        line-height: 68px
        margin-bottom: 3rem
    +mobile
      .title
        font-size: 18px
        line-height: 1.5
        margin-bottom: 1rem
  .columns.is-feature-1
    .column.is-image
      max-width: 721px
  .columns.is-feature-2
    flex-direction: row-reverse
    .column.is-text
      max-width: 433px
    .column.is-image
      max-width: 543px

.section.is-canvases
  .glide-nav
    display: unset
    top: 45%
    +mobile
      opacity: 1
  .glide-dots
    top: 106px
    +mobile
      top: 116px
  .canvas-box
    .main
      padding-top: 48px
      .column
        margin-bottom: 3rem
        .title
          font-size: 30px
          line-height: 38px
          margin-bottom: 0

.section.is-spec
  +vertical-padding(120px)
  padding-left: 0
  padding-right: 0
  background-color: $vibe-teal
  .container
    max-width: 1440px
  .image
    max-width: 80%  
    margin: 0 auto
  .level.is-overview
    width: 100%  
    margin: 0 auto 2rem
    padding: 1.5rem 15%
    border-top: 1px solid $vibe-black
    border-bottom: 1px solid $vibe-black
    +mobile
      align-items: flex-start
      padding: 1.5rem 1rem
    .level-item
      text-align: center
      width: 20%
      +touch
        width: 150px
      +mobile
        width: 70px
        margin-right: 0
        font-size: 12px
      .title
        font-size: 48px
        +mobile
          font-size: 24px
  .title.is-view-specs
    font-size: 18px
    text-align: center
    margin-bottom: 8px
  .button.is-specs-chevron
    border: none
    background: none
    display: block
    margin: auto
    &.is-active
      transform: rotate(180deg)
  #specs
    padding: 0 1.5rem 2.5rem
    +tablet
      padding-top: 70px
    +desktop
      font-size: 18px
    display: none
    &.is-active
      display: block
    .columns
      max-width: 1170px
      margin-left: auto
      margin-right: auto
    .column
      +mobile
        padding-left: 0
        padding-right: 0
      +tablet
        padding-left: 26px
        padding-right: 26px
    .title
      margin-top: 24px
      margin-bottom: 12px
      +mobile
        font-size: 16px
      +tablet
        font-size: 18px
    .table
      background: none
      td, tr
        padding: 1rem .75rem
        border-color: rgba(0, 0, 0, 0.1)
        font-size: 16px
      td:first-child
        +tablet
          width: 140px
        +desktop
          width: 210px
        padding-left: 0
      td:not(:last-child)
        border-right: 1px solid rgba(0, 0, 0, 0.1)
      tr:first-child
        border-top: 2px solid $vibe-black
      tr:last-child
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    .cta
      text-align: center
      .button
        font-size: 24px
        font-family: $vibe-family-heading
        font-weight: $vibe-bold

.section.is-bottom-cta
  .cta .button
    height: 55px
    font-size: 18px
    line-height: 23px
    +mobile
      min-width: 319px
      height: 42px
      font-size: 16px
      line-height: 20px
  .title.section-title
    +tablet
      margin-bottom: 36px
      