{{ define "scripts"}}
{{ $src := resources.Get "js/react.production.min.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $src.RelPermalink }}" integrity="{{ $src.Data.Integrity }}"></script>
{{ $src := resources.Get "js/react-dom.production.min.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $src.RelPermalink }}" integrity="{{ $src.Data.Integrity }}"></script>
{{ $src := resources.Get "js/common/glide.min.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $src.RelPermalink }}" integrity="{{ $src.Data.Integrity }}"></script>
<script src="https://sdks.shopifycdn.com/js-buy-sdk/v2/latest/index.umd.min.js"></script>
{{ end }}

{{/*  {{ define "nav" }}  */}}
{{/*  <!-- <div class="before-nav"> -->
<!--   <p class="cta"> -->
<!--     <a href="/demo/work-from-home/"> -->
<!--       Working from home due to Coronavirus? See how can we help → -->
<!--     </a> -->
<!--   </p> -->
<!-- </div> -->
  <!-- Boards & Stands are currently backordered until appx Sep 14th due to demand.<br />
  Purchase now to reserve your order in the next arrival, or
  <a href="https://landing.vibe.us/backorder-notification" target="_blank">have us notify you when they're back in stock</a>.
  </p>
</div> -->  */}}
{{/*  {{ partial "common/nav" . }}
{{ end }}  */}}

{{ define "main" }}<main class="order">

{{ with .Params.hero }}
<section class="hero" id="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-desktop is-vcentered">
        <div class="column is-gallery">
          <!--
            glidejs does not support container in a flex box so we need some tricks here.
            1. column is a flex box, with thubmains on the left, fixed width, and product-gallery on the right, flex=1
            2. product-gallery makes sure its aspect ratio is same as actual images.
            3. inside product-gallery, an absolute fill wrapper wraps glide, so that glide can determine correct size.
            https://github.com/glidejs/glide/issues/233#issuecomment-609361003
          -->
          <div class="product-gallery">
            <div class="aspect-ratio-keeper">
              <div class="glide-wrapper">
                <div class="glide">
                  <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                      {{ range .gallery }}
                      <li class="glide__slide">
                        <figure class="image">
                          {{ partial "common/srcset" (dict "resource" (resources.Get .) "desktop" "1280x" "mobile" "750x" "options" "jpg #FFFFFF") }}
                        </figure>
                      </li>
                      {{ end }}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="thumbnails">
            {{ range .gallery }}
            <figure class="image">
              {{ partial "common/srcset" (dict "resource" (resources.Get .) "desktop" "160x" "options" "jpg #FFFFFF") }}
            </figure>
            {{ end }}
          </div>
        </div>
        <div class="column is-text">
          <h1 class="title">{{ T .item.title }}</h1>
          <div class="content">{{ T .item.body | markdownify }}</div>
          <hr class="top">
          {{ if .item.discount_price }}
          <div class="discount-ads">
            <span class="discount-info">{{ .item.discount_info }}</span>
            <span class="copy-promo-code">Copy promo code</span>
          </div>
          <div class="discount-item-price">
            <span class="original-price formatted-price" data-precision="{{ default 0 .precision }}">{{ .item.price }}</span>
            <span class="discount-price formatted-price" data-precision="{{ default 0 .precision }}">{{ .item.discount_price }}</span>
          </div>
          {{ else }}
          <div class="item-price formatted-price" data-precision="{{ default 0 .precision }}">{{ .item.price }}</div>
          {{ end }}
          <div class="content is-shipping">
            {{ .shipping | markdownify }}
          </div>
          {{ with .global_sales }}
          <div class="content is-global-sales">
            <span class="icon global-sales-icon">
              {{ (resources.Get "img/order/global-sales-icon.svg" | resources.Minify).Content | safeHTML }}
            </span>
            <a class="global-sales-link" href="{{ .url }}">{{ .text }}</a>
          </div>
          {{ end }}
          <hr class="bottom">
          <div class="field is-grouped is-add-to-cart" data-product-id="{{ .item.product_id }}">
            <div class="control is-count has-icons-left has-icons-right">
              <input class="input is-medium is-rounded is-black" type="number" value="1">
              <span class="icon is-small is-left">
                {{ partial "common/mdi" "minus" }}
              </span>
              <span class="icon is-small is-right">
                {{ partial "common/mdi" "plus" }}
              </span>
            </div>
            <div class="control is-add-cart">
              <button class="button is-medium is-primary is-rounded is-fullwidth 55-v1-board">Add to Cart</button>
              {{ with .amazon }}
              <div class="content is-amazon">
                Also available on <a href="{{ . }}" target="_blank">Amazon</a>
              </div>
              {{ end }}
              {{ if .item.sold_out }}
              <div class="content is-sold-out">
                {{ .item.sold_out.item_notice | markdownify }}
              </div>
              {{ else if .item.backorder }}
              <div class="content is-backorder">
                {{ .item.backorder.item_notice | markdownify }}
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.accessories }}
<section class="section is-accessories">
  <div class="container">
    <h1 class="title is-section-title">{{ T .title }}</h1>
    <div class="columns">
      {{ range .items }}
      {{ with .item }}
      <div class="column">
        <figure class="image">
          {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "desktop" "600x" "mobile" "750x" "options" "jpg #FFFFFF") }}
        </figure>
        <h3 class="title">{{ T .title }}</h3>
        <p class="price formatted-price" data-precision="{{ default 0 .precision }}">{{ .price }}</p>
        <div class="field is-grouped is-add-to-cart" data-product-id="{{ .product_id }}">
          <div class="control is-count has-icons-left has-icons-right{{ if .sold_out }} is-disabled{{ end }}">
            <input class="input is-rounded is-black" type="number" value="1" {{ if .sold_out }}disabled{{ end }} />
            <span class="icon is-small is-left">
              {{ partial "common/mdi" "minus" }}
            </span>
            <span class="icon is-small is-right">
              {{ partial "common/mdi" "plus" }}
            </span>
          </div>
          <div class="control is-add-cart">
            <button class="button is-primary is-rounded is-fullwidth" {{ if .sold_out }}disabled{{ end }}>
              {{ if .sold_out }}
              Sold Out
              {{ else }}
              Add to Cart
              {{ end }}
            </button>
          </div>
        </div>
        {{ if .sold_out }}
        <div class="content is-sold-out">
          {{ .sold_out.item_notice | markdownify }}
        </div>
        {{ else if .backorder }}
        <div class="content is-backorder">
          {{ .backorder.item_notice | markdownify }}
          <!-- <p><a href="https://knowledge.vibe.us/may-2020-shipping-update" target="_blank">See options →</a></p> -->
        </div>
        {{ end }}
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.trust }}
{{ partial "common/trust-section" . }}
{{ end }}

{{ with .Params.what_is_vibe }}
{{ partial "common/what-is-vibe" . }}
{{ end }}

{{ with .Params.hardware_features }}
{{ partial "common/hardware-features" . }}
{{ end }}

{{ with .Params.feature_columns }}
{{ partial "common/feature-columns" . }}
{{ end }}

{{ with .Params.book_demo }}
{{ partial "common/book-demo" . }}
{{ end }}

{{ with .Params.compare }}
{{ partial "common/compare-in-brief" (merge (dict "Site" $.Site) .) }}
{{ end }}

{{ with .Params.faq }}
{{ partial "faq" . }}
{{ end }}

{{ with .Params.reviews }}
<section class="section is-reviews">
  <div class="container">
    <h1 class="title is-section-title">{{ T .title }}</h1>
    <div class="columns is-vcentered is-mobile">
      <div class="column is-stars">
        {{ $total := 0 }}
        {{ range .items }}
        {{ $total = add $total .stars }}
        {{ end }}
        {{ partial "review-stars" (div $total (mul 1.0 (len .items))) }}
      </div>
      <div class="column">
        Based on {{ len .items }} {{ if eq 1 (len .items) }}review{{ else }}reviews{{ end }}
      </div>
    </div>
    {{ range .items }}
    <div class="columns is-review">
      <div class="column is-stars is-review">
        <div class="author">
          {{ .author }}
        </div>
        <div class="channel">
          {{ .channel }}
        </div>
        {{ partial "review-stars" .stars }}
        <div class="date">
          {{ .date }}
        </div>
      </div>
      <div class="column">
        <div class="content is-review">
          {{ T .body | markdownify }}
        </div>
        <div class="full-review">
          <a href="{{ .url }}" target="_blank">Read full review →</a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ with .Params.bottom_cta }}
{{ partial "bottom-cta" . }}
{{ end }}

<div class="modal is-cart" id="cart">
  <div class="modal-background" data-target="cart"></div>
  <div class="modal-content">
    <div class="level is-cart-head is-mobile">
      <div class="level-left">
        <div class="level-item">
          <span class="icon is-large is-close" data-target="cart">
            {{ partial "common/mdi" "chevron-right:24" }}
          </span>
        </div>
        <div class="level-item">
          <p class="cart-title">My Cart</p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <p class="item-count">1 item</p>
        </div>
      </div>
    </div>
    <div class="cart-items" id="app-root">
    </div>
    <div class="cart-bottom">
      <div class="level is-cart-total is-mobile">
        <div class="level-left">
          <div class="level-item">
            <p class="title">Subtotal</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <p class="title is-amount">2.999,00€</p>
          </div>
        </div>
      </div>
      <div class="checkout">
        <a class="button is-checkout is-large is-primary is-rounded is-fullwidth"
           href="#">Checkout</a>
      </div>
    </div>
  </div>
</div>

{{ if .Params.promo_code }}
{{ partial "common/template-script" (dict "asset" "js/order.js" "products" .Params.products "promoCode" .Params.promo_code "shopifyHost" "vibe.toyond.de" "numberFormat" (default "de-DE" .Params.number_format) "currency" (default "EUR" .Params.currency)) }}
{{ else }}
{{ partial "common/template-script" (dict "asset" "js/order.js" "products" .Params.products "shopifyHost" "vibe.toyond.de" "numberFormat" (default "de-DE" .Params.number_format) "currency" (default "EUR" .Params.currency)) }}
{{ end }}
{{ partial "common/template-script" (dict "asset" "js/common/demo.template.js") }}
</main>{{ end }}

{{ define "foot" }}
{{ partial "common/foot-with-compare-note" . }}
{{ end }}
