<div class="glide">
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides">
        {{ range $idx1, $val := . }}
        <li class="glide__slide glide-slide-{{ $idx1 }}">
          <div class="columns is-vcentered">
          {{ range $idx1, $val := . }}
            <div class="column column-{{ $idx1 }}">
              {{ range . }}
                <div class="is-column{{ with .class }} {{ . }}{{ end }}">
                {{ partial .partial . }}
                {{ partial "customer-entry" . }}
                </div>
              {{ end }}
            </div>  
          {{ end }}  
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
</div>
<div class="glide-dots" . >
     {{ range .}}
     <span class="icon is-small">
       <svg width="8" height="8" viewBox="0 0 8 8" fill="#111111" xmlns="http://www.w3.org/2000/svg">
         <circle r="3.8" transform="matrix(1 0 0 -1 3.8 3.8001)" />
       </svg>
     </span>
     {{ end }}
</div>