<div class="apps-mask apps-mask-left"></div>
<div class="apps-mask apps-mask-right"></div>
<div class="group is-hidden-mobile">
  <div class="logos-group logos-group-1">
    {{ range first 10 .logos }}
      <figure class="image">
        {{ partial "common/srcset" (dict "resource" (resources.Get .logo)) }}
      </figure>
    {{ end }}
  </div>
  <div class="logos-group logos-group-2">
  {{ range last 11 .logos }}
    <figure class="image">
      {{ partial "common/srcset" (dict "resource" (resources.Get .logo)) }}
    </figure>
  {{ end }}
  </div>
</div>
<div class="group-mobile is-hidden-tablet">
  <div class="logos-group logos-group-1">
    {{ range first 6 .logos }}
      <figure class="image">
        {{ partial "common/srcset" (dict "resource" (resources.Get .logo)) }}
      </figure>
    {{ end }}
  </div>
  <div class="logos-group logos-group-2">
  {{ range first 6 (after 6 .logos) }}
    <figure class="image">
      {{ partial "common/srcset" (dict "resource" (resources.Get .logo)) }}
    </figure>
  {{ end }}
  </div>
  <div class="logos-group logos-group-3">
    {{ range last 6 .logos }}
      <figure class="image">
        {{ partial "common/srcset" (dict "resource" (resources.Get .logo)) }}
      </figure>
    {{ end }}
  </div>
</div>

