<section class="section is-apps">
  <div class="container">
    {{ with .title }}<h1 class="title is-section-title">{{ default . ( T . ) }}</h1>{{ end }}
    <p class="content {{ if .body_mobile }} is-hidden-mobile {{ end }}">{{ default .body ( T .body ) }}</p>
    {{ if .body_mobile }}
      {{ with .body_mobile }}<p class="content is-hidden-tablet">{{ default . ( T . ) }}</p>{{ end }}
    {{ end }}
    {{ $glide := gt (len .groups) 1 }}
    {{ if $glide }}
      {{ partial "glide" (dict "class" "groups" "partial" "apps-groups" "context" .groups) }}
    {{ else }}
      {{ range .groups }}
        {{ partial "apps-groups" . }}
      {{ end }}
    {{ end }}
  </div>
</section>