<section class="section is-bottom-cta">
  <div class="container">
    <div class="bottom-bg">
      {{ (resources.Get "img/shared/what-bg.svg").Content | safeHTML }}
    </div>
    <div class="title-wrapper">
      <h1 class="title is-section-title">{{ default .title (T .title) }}</h1>
      {{ with .body }}
      <div class="content">{{ default . (T .) | markdownify }}</div>
      {{ end }}
    </div>
    {{ with .cta }}
    <div class="cta">
      {{ if .title }}
      <a class="button is-rounded is-black is-outlined"
         href="{{ (default "/demo/" .url) | relLangURL }}"
         {{ with .target }}target="{{ . }}"{{ end }}>
        {{ default .title (T .title) }}
      </a>
      {{ end }}
      {{ range .buttons }}
      <a class="button is-rounded {{ default "is-black is-outlined" .class }}"
         href="{{ .url | relLangURL }}"
         target="_blank"
         {{ range .data }}
         data-{{ .key }}="{{ .value }}"
         {{ end }}
      >
        {{ default .title (T .title) }}
      </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
