<div class="comment-card ins">
  <div class="author">
    <div class="mask">
      {{partial "common/srcset" (dict "resource" (resources.Get .mask) "options" "png")}}
    </div>
    <h1 class="name">{{.name }}</h1>
    <div class="logo">
      {{partial "common/srcset" (dict "resource" (resources.Get "img/customer/ins-logo.png") "desktop" "160x" "options" "png")}}
    </div>
  </div>
  <div class="line">
    {{ (resources.Get "img/customer/line.svg").Content | safeHTML }}
  </div>
  {{if .cover}}
  <div class="cover">
    {{partial "common/srcset" (dict "resource" (resources.Get .cover) "options" "png")}}
  </div>
  {{end}}
  <div class="container">
  <div class="icon">
    {{partial "common/srcset" (dict "resource" (resources.Get "img/customer/ins-like-icon.png") "desktop" "160x" "options" "png")}}
  </div>
    <div class="content">{{.content | markdownify }}</div>
  </div>
    <div class="date">{{.date | markdownify }}</div>
</div>
