<div class="comment-card twitter">
  <div class="picture">
    {{partial "common/srcset" (dict "resource" (resources.Get .mask) "options" "png")}}
  </div>
  <h1 class="name">{{.name }}</h1>
  <div class="logo">
    {{partial "common/srcset" (dict "resource" (resources.Get "img/customer/twitter-logo.png") "desktop" "160x" "options" "png")}}
  </div>
  <div class="line">
    {{ (resources.Get "img/customer/line.svg").Content | safeHTML }}
  </div>
  {{if .cover}}
  <div class="cover">
    {{partial "common/srcset" (dict "resource" (resources.Get .cover) "options" "png")}}
  </div>
  {{end}}
  <div class="email">
    {{ range .email }}
    <span class="text {{ with .class }}{{ . }}{{ end }}">{{ .text }}</span>
    {{ end }}
  </div>
  <div class="content">
    {{ range .content }}
    <span class="text {{ with .class }}{{ . }}{{ end }}">{{ .text }}</span>
    {{ end }}
  </div>
  <div class="date">{{ .date | markdownify }}</div>
</div>