<section class="section is-compare">
  <div class="container">
    <h1 class="title is-section-title">{{ .title }}</h1>

    <div class="compare-table">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>
              Brands
            </th>
            {{ range .brands }}
            <td class="{{ if .hideMobile }}is-hidden-mobile{{ end }}">
              <figure class="image">
                {{ $resource := resources.Get .icon }}
                {{ partial "common/srcset" (dict "resource" $resource "desktop" "228x") }}
              </figure>
            </td>
            {{ end }}
          </tr>
        </thead>
        <tbody>
          {{ range $idx, $item := .features }}
          <tr>
            <td>
              {{ $item }}
            </td>
            {{ range $.brands }}
            <td class="{{ if .hideMobile }}is-hidden-mobile{{ end }}">
              {{ if index .features $idx }}
              <span class="icon is-large is-feature-check">
                <figure class="image">
                  <svg width="100%" height="100%" viewBox="0 0 28 22" stroke="#66CCCC" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 8.92754L10.3333 19.0725L26 2" stroke-width="3"/>
                  </svg>
                </figure>
              </span>
              {{ end }}
            </td>
            {{ end }}
          </tr>
          {{ end }}
        </tbody>
        <tfoot>
          <tr>
            <th>Price</th>
            {{ range .brands }}
            <td class="{{ if .hideMobile }}is-hidden-mobile{{ end }}">
              <strong>{{ .price }}</strong>
            </td>
            {{ end }}
          </tr>
        </tfoot>
      </table>
    </div>
    {{ with .cta }}
    <div class="cta">
      <a href="{{ .url }}" class="button{{ with .class }} {{ . }}{{ end }}">{{ .title }}</a>
    </div>
    {{ end }}
  </div>
</section>
