{{ $playerId := default "video-column" .video.playerId }}
{{ $triggerClassSelector := ".video-column-launcher" }}
{{ if .video.triggerClass }}
{{ $triggerClassSelector = printf "%s.%s" ".video-column-launcher" .video.triggerClass }}
{{ end }}

<div class="video-column column is-image">
  <a href="https://www.youtube.com/watch?v={{ .video.Id }}" class="video-popup" data-target="video-popup-player" data-video-id="{{ .video.Id }}">
    <figure class="image">
      {{ partial "common/srcset" (dict "resource" (resources.Get "img/customer-entry/img1.png") "desktop" "750x") }}
    </figure>
  </a> 
</div>

