{{ with .item }} 
<div class="blog-content">
  <div class="is-content">
    {{ with .title }}
    <p class="is-blog-title" >{{ . | markdownify }}</p> 
    {{ end }}
    {{ with .name }}
    <span class="is-blog-name" >{{ . | markdownify }}</span>
    {{ end }}
    {{ with .content }}
    <span class="is-blog-content" >{{ . | markdownify }}</span>
    {{ end }}  
  </div>  
  <div class="is-blog-logo">
    {{ with .logo }}
    {{ partial "common/srcset" (dict "resource" (resources.Get .) "desktop" "1280x" "mobile" "750x" "options" "jpg #FFFFFF") }}
    {{ end }}  
  </div>
</div> 
<div class="blog-figure">
  {{ if .video }}
  {{ partial "customer-video" . }}
  {{ end }}
  {{ with .figure }}
  {{ partial "common/srcset" (dict "resource" (resources.Get .) "desktop" "1280x" "mobile" "750x" "options" "jpg #FFFFFF") }}
  {{ end }}
</div>
{{ end }}