<section class="section is-feature-columns">
  <div class="container">
    {{ if .title }}
    <div class="header">
      <h1 class="title is-section-title">{{ default .title (T .title) }}</h1>
      {{ with .body }}
      <div class="body">{{ default . (T .) }}</div>
      {{ end }}
    </div>
    {{ end }}
    <div class="columns">
      {{ range $idx, $val := .features }}
      <div class="column{{ with .column_class }} {{ . }}{{ end }} is-hidden-mobile ">
        <a class="is-feature-card"{{ with .url }} href="{{ . }}"{{ end }}
           {{ with .target }}target="{{ . }}"{{ end }}>
          <div class="is-feature is-feature-{{ $idx }}"
               {{ with $.card_background_color }}style="background-color: {{ . }}"{{ end }}>
            <div>
              <figure class="image">
                {{ $bgColor := "#ffffff" }}
                {{ if .background_color }}
                {{ $bgColor = .background_color }}
                {{ else if $.card_background_color }}
                {{ $bgColor = $.card_background_color }}
                {{ end }}
                {{ partial "common/srcset" (dict "resource" (resources.Get .figure)) }}
              </figure>
              <h2 class="title">{{ T .title | markdownify }}</h2>
            </div>
          </div>
        </a>
      </div>
      {{ end }}
      <div class="is-hidden-tablet">
        {{ partial "glide" (dict "class" "features" "partial" "feature-columns-column" "context" .features) }}
      </div>
    </div>

    {{ with .cta }}
    <div class="cta">
      <a class="button is-rounded is-black is-outlined" href="{{ .url | relLangURL}}">{{ default .title (T .title) }}</a>
    </div>
    {{ end }}
  </div>
</section>
