<div class="column{{ with .column_class }} {{ . }}{{ end }}">
  <a class="is-feature-card"{{ with .url }} href="{{ . }}"{{ end }}
     {{ with .target }}target="{{ . }}"{{ end }}>
    <div class="is-feature"
         {{ with $.card_background_color }}style="background-color: {{ . }}"{{ end }}>
      <div>
        <figure class="image">
          {{ $bgColor := "#ffffff" }}
          {{ if .background_color }}
          {{ $bgColor = .background_color }}
          {{ else if $.card_background_color }}
          {{ $bgColor = $.card_background_color }}
          {{ end }}
          {{ partial "common/srcset" (dict "resource" (resources.Get .figure)) }}
        </figure>
        <h2 class="title">{{ T .title | markdownify }}</h2>
      </div>
    </div>
  </a>
</div>