<div class="{{ .class }}">
  {{ if .is_rectangle_dots }}
  <div class="glide-dots rectangle-dots">
    {{ range .context }}
      <span class="icon is-small">
        <div class="dot"></div>
      </span>
    {{ end }}
  </div>
  {{ end }}
  
  <div class="glide">
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides">
        {{ range .context }}
        <li class="glide__slide">
          {{ partial $.partial . }}
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

  {{ if not .is_rectangle_dots }}
  <div class="glide-dots">
    {{ range .context }}
    <span class="icon is-small">
      <svg width="8" height="8" viewBox="0 0 8 8" fill="#111111" xmlns="http://www.w3.org/2000/svg">
        <circle r="3.8" transform="matrix(1 0 0 -1 3.8 3.8001)" />
      </svg>
    </span>
    {{ end }}
  </div>
  {{ end }}

  <span class="icon is-large glide-nav is-left">
    <figure class="image">
      {{ partial "common/srcset" (dict "resource" (resources.Get "img/glide/nav-left.png")) }}
    </figure>
  </span>
  <span class="icon is-large glide-nav is-right">
    <figure class="image">
      {{ partial "common/srcset" (dict "resource" (resources.Get "img/glide/nav-right.png")) }}
    </figure>
  </span>
</div>
