<div class="hero-gallery-bg is-photo-gallery" data-target="gallery">
  <figure class="hero-gallery-img is-hidden-mobile">
    {{ with .gallery_img }}
      {{ partial "common/srcset" (dict "resource" (resources.Get .) "options" "jpg #F4F4F4" ) }}
    {{ end }}
  </figure>
  <figure class="hero-gallery-img-hover is-hidden-mobile">
    {{ with .gallery_hover_img }}
      {{ partial "common/srcset" (dict "resource" (resources.Get .) "options" "jpg #F4F4F4" ) }}
    {{ end }}
  </figure>
</div>
<div class="photo-gallery is-hidden-tablet">
  <button class="button is-photo-gallery" data-target="gallery">
    <span>{{ T .cta }}</span>
    <span class="icon">
      {{ partial "common/srcset" (dict "resource" (resources.Get "img/vibe-smartboard-55/icon-gallery.png")) }}
    </span>
  </button>
</div>
{{ with .items }}
  <div class="modal is-gallery" id="gallery">
    <div class="modal-background" data-target="gallery"></div>
    <div class="modal-content">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {{ range . }}
            <li class="glide__slide">
              <figure class="image">
                {{ partial "common/srcset" (dict "resource" (resources.Get .) "desktop" "2360x" "tablet" "1920x" "mobile" "750x" "options" "jpg #FFFFFF") }}
              </figure>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <div class="glide-control is-left is-hidden-mobile" data-direction="<">
      {{ (resources.Get "img/common/nav-icon.svg").Content | safeHTML }}
    </div>
    <div class="glide-control is-right is-hidden-mobile" data-direction=">">
      {{ (resources.Get "img/common/nav-icon.svg").Content | safeHTML }}
    </div>
    <button class="modal-close is-large" aria-label="close" data-target="gallery"></button>
  </div>
{{ end }}