<section class="section ready-to-see">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-form-header">
        <div class="title-wrapper">
          <h1 class="title is-section-title">{{ default .title (T .title) }}</h1>
          {{ with .body }}
          <div class="content">{{ default . (T .) | markdownify }}</div>
          {{ end }}
        </div>
        <div class="container is-form">
          {{ with .form }}
          {{ partial "common/form" . }}
          {{ end }}
        </div>
        <div class="column is-image">
          <figure class="image">
            {{ partial "common/srcset" (dict "resource" (resources.Get "img/home/feature-eng.png") "desktop" "1920x" "tablet" "1280x" "mobile" "750x" "options" (print "jpg " (default "#66cccc" ))) }}
            <div class="overlay"></div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
{{ partial "common/template-script" (dict "asset" "js/contact.js") }}