<section class="section how-it-works">
  <div class="container">
    <h1 class="title how-it-works-title">{{ .title1 }}</h1>
    <h1 class="title how-it-works-title">{{ .title2 }}</h1>
    <section class="image">
      {{ partial "common/srcset" (dict "resource" (resources.Get .figure)  "options" "jpg") }}
    </section>

    <a href="#" class="button is-outlined is-rounded is-in-brand is-hidden-mobile">
      <span>See How it Works</span>
    </a>
  </div>
  <div class="mobile-container">
    <h1 class="title how-it-works-title">{{ .title1 }} {{ .title2 }}</h1>
    <section class="image">
      {{ partial "common/srcset" (dict "resource" (resources.Get .mobilefigure)  "options" "jpg") }}
    </section>
    {{ range .links }}
      <h2 data-f="{{ .index }}">{{ .title }}</h2>
      <p>{{ .body }}</p>
    {{ end }}
    <a href="#" class="button is-outlined is-rounded is-in-brand">
      <span>See How it Works</span>
    </a>
  </div>
</section>