<section class="section trusted-by">
  <div class="container">
    <h1 class="title is-section-title">{{ default .title (T .title) }}</h1>
    <div class="references-wrapper">
      {{ range .references }}
      <div class="imgbox">
        <figure class="image">
          {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "desktop" "640x" "tablet" "480x" "mobile" "375x" "options" "jpg") }}
        </figure>
      </div>
      {{ end }}
    </div>
    {{/*  <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {{ range .references }}
          <li class="glide__slide">
            <div class="column customer-card-column{{ with .name }} {{ .name }}{{ end }}">
            {{ partial "customer-card" (merge . (dict "target" "story" "index" .idx)) }}
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      
      <span class="icon is-large glide-nav is-left">
        {{ (resources.Get "img/common/nav-icon.svg").Content | safeHTML }}
      </span>
  
      <span class="icon is-large glide-nav is-right" data-go=">">
        {{ (resources.Get "img/common/nav-icon.svg").Content | safeHTML }}
      </span>
    </div>  */}}
    

    {{/*  <span style="margin-left: 60px;transform:scale(1.3)" id="r">
      {{ partial "common/srcset" (dict "resource" (resources.Get "img/order/is-right.png") "desktop" "640x" "tablet" "480x" "mobile" "375x" "options" "jpg") }}
    </span>  */}}
  </div>
</section>


<script>
  {{/*  let index = 0
  let right = document.getElementById('r')
  right.addEventListener('click', () => {
  })
  function displayImgs() {
    Array.from(document.querySelector('.references-wrapper').children).forEach((item, idx) => {
      let big = (index + 4) % 10
      
    })
  }
  function clearImgs() {
    Array.from(document.querySelector('.references-wrapper').children).forEach(item => {
      item.classList.remove('is-hidden')
    })
  }  */}}
</script>