<table class="table">
  <thead class="thead">
    <tr>
      <th>Features</th>
      <th>Impacts on Features</th>
    </tr>
  </thead>
  <tbody class="tbody">
    {{ range . }}
    <tr class="tbody-row">
      <td>{{ .title | markdownify }}</td>
      <td>
        {{ if .value }}
        <span class="icon">
          {{ if eq .value "true" }}
          <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 5.53933L6.96719 11L15.1538 2" stroke="#66CCCC" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          {{ else }}
          <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2L13 12.3125" stroke="#FF6666" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M13 2L2 12.3125" stroke="#FF6666" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          {{ end }}
        </span>
        {{ else }}
        {{ .content | markdownify }}
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>