<div class="card is-story"
     {{ if .target }}
     data-target="{{ .target }}"
     {{ if .index }}
     data-start-at="{{ .index }}"
     {{ end }}
     {{ end }}
     >
  <div class="card-image">
    <figure class="image is-3by2">
      {{ partial "common/srcset" (dict "resource" (resources.Get .cover) "desktop" "800x" "tablet" "600x") }}
    </figure>
  </div>

  <div class="card-content">
    {{ with .logo }}
    <div class="logo">
      <figure class="image">
        {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "desktop" "200x") }}
      </figure>
    </div>
    {{ end }}

    <h2 class="title">{{ default .title (T .title) }}</h2>

    <div class="cta">
      <span>{{ T "i18n-manual-story-read_more" }}</span>
    </div>
  </div>
</div>
