<div class="testimonial">
  <figure class="testimonial-left-image">
    {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "desktop" "420x" "mobile" "420x") }}
  </figure>
  <div class="testimonial-content">
    <div class="content">
      <div class="content-title">{{ default .title (T .title) | markdownify }} </div>
      <div class="content-body">{{ default .body (T .body) | markdownify }} </div>
    </div>
  
    {{ with .author }}
    <div class="author">
      <div class="logo-name{{ if .name }} has-name{{ end }}{{ if .logo }} has-logo{{ end }}">
        {{ if .name }}
        <div class="name">
          <span>{{ default .bold_name (T .bold_name) | markdownify }}</span>
          <span>{{ default .name (T .name) | markdownify }}</span>
        </div>
        {{ end }}
        {{ if .logo }}
        <div class="logo">
          <figure class="image">
            {{ partial "common/srcset" (dict "resource" (resources.Get .logo) "desktop" "420x" "mobile" "420x") }}
          </figure>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  
    {{ with .url }}
    <div class="more">
      <a href="{{ . | relLangURL }}">Read more →</a>
    </div>
    {{ end }}
  </div>

</div>
