{{ $content := .content }}
{{ $level := .level | default 1 }}

<section class="toc is-level-{{ $level }}">
  <ul class="items">
    {{ range $content }}
    <li class="item" data-id="{{ .id }}">
      <a href="#{{.id}}" class="item-label">{{ .value }}</a>
      {{ with .subitems }}
      <ul class="subitems">
        {{ range . }}
        <li class="subitem" data-id="{{ .id }}">
          <a href="#{{.id}}" class="item-label">{{ .value }}</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</section>