<section class="section is-what-is-vibe">
  <div class="container">
    <div class="is-title-container">
      <h1 class="title is-section-title">{{ default .title (T .title) }}</h1>
      <div class="body{{ if .mobile_body }} is-hidden-mobile{{ end }}">{{ default .body (T .body) }}</div>
      {{ with .mobile_body }}
      <div class="body is-hidden-tablet">{{ . }}</div>
      {{ end }}
    </div>

    <div class="is-content-container">
      <div class="is-left-container">
        <div class="is-playlist">
          {{ range $idx, $val := .playlist }}
          {{ with $val }}
          <div
            class="is-playlist-item is-playlist-item-{{ $idx }}{{ with $.player.playlistClass }} {{ . }}{{ end }}"
            data-idx="{{ $idx }}"
            data-target="tab-panel"
            data-target-class="is-playlist-item-{{ $idx }}-tab-content is-mobile-playlist-item-{{ $idx }}"
            data-video-id="{{ .videoId }}"
          >
            <div class="title is-playlist-item-title">{{ .title }}</div>
            <div class="body is-playlist-item-body">{{ .body }}</div>
          </div>
          {{ end }}
          {{ end }}
        </div>
        <div class="is-video-overviews">
          {{ range $idx, $val := .playlist }}
          {{ with $val }}
          <div class="is-video-overview is-playlist-item-{{ $idx }}-tab-content">{{ .body }}</div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="is-right-container">
        <div class="is-video-wrapper">
          {{ partial "video-playlist-player" . }}
        </div>
      </div>
    </div>

    {{ partial "common/section-cta" .cta }}
  </div>
</section>