{{ define "stylesheets" }}
<style>
{{ (resources.Get "css/common/video-js.min.css").Content | safeCSS }}
</style>
{{ end }}

{{ define "scripts"}}
{{ $src := resources.Get "js/common/glide.min.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $src.RelPermalink }}" integrity="{{ $src.Data.Integrity }}"></script>
{{ end }}

{{/*  {{ define "nav" }}
<div class="before-nav">
  <p class="cta">
  <a href="/demo/work-from-home/">
    Working from home due to Coronavirus? See how can we help →
  </a>
  </p>
</div>
<!-- <div class="before-nav">
  <p class="cta">
  Boards & Stands are currently backordered until appx Sep 14th due to demand.<br />
  <a href="/order/">Purchase now to reserve your order in the next arrival</a>, or
  <a href="https://landing.vibe.us/backorder-notification" target="_blank">have us notify you when they're back in stock</a>.
  </p>
</div> -->
{{ partial "common/nav" . }}
{{ end }}  */}}

{{ define "main" }}<main class="home">

{{ with .Params.hero }}
<section class="hero is-fullheight-with-navbar is-home">
  <figure class="image is-hero-bg is-hidden-mobile">
    {{ partial "common/srcset" (dict "resource" (resources.Get "img/home/hero.png") "desktop" "2880x" "tablet" "2048x" "mobile" "750x" "options" "jpg #FFFFFF") }}
  </figure>
  <div class="hero-body">
    <div class="container">
      <div class="title-text">
        <h1 class="title">
          {{ T .title | markdownify }}
        </h1>
        <p>
        {{ T .body | markdownify }}
        </p>
      </div>
      {{ with .cta }}
      <div class="cta">
        <a class="button is-hero-cta {{ with .class }} {{ . }}{{ end }}"
           href="{{ .url | relLangURL }}">
          {{ T .title }}
        </a>
      </div>
      {{ end }}
      {{ range .subcta }}
      <div class="subcta{{ with .class }} {{ . }}{{ end }}">
        <span>{{ T .title }}</span>
        {{ with .link }}
        <a href="{{ .url | relLangURL }}">{{ T .text }}</a>
        {{ end }}
      </div>
      {{ end }}

      <figure class="image is-hero is-hidden-tablet">
        {{ partial "common/srcset" (dict "resource" (resources.Get "img/home/hero-mobile.jpg") "desktop" "750x") }}
      </figure>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.as_seen_in }}
{{ partial "common/as-seen-in-section" . }}
{{ end }}

{{ with .Params.what_is_vibe }}
{{ partial "common/video-hero" . }}
{{ end }}

{{ with .Params.testimonial_section }}
{{ partial "common/testimonial-section" . }}
{{ end }}

{{ range .Params.features }}
<section class="section is-feature{{ with .class }} {{ . }}{{ end }}">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-text">
        <h1 class="title is-section-title">{{ T .title }}</h1>
        <h2 class="subtitle is-section-title">{{ T .subtitle }}</h2>
        <div class="content">
          {{ T .body | markdownify }}
        </div>
        {{ with .cta }}
        <div class="cta">
          {{ if .url }}
          <a href="{{ .url | relLangURL }}">{{ T .title }}</a>
          {{ end }}
          {{ if .video }}
          <a href="{{ .video }}" class="video-launcher-popup" target="_blank" data-target="demo-video-popup">
            {{ T .title }}
            <span class="icon">
              {{ (resources.Get "img/shared/play-icon.svg").Content | safeHTML }}
            </span>
          </a>
          {{ partial "common/video-player" (dict "playerId" "demo-video-popup" "videoUrl" .video "triggerClass" ".video-launcher-popup" "isInplace" false "isVideoJS" true) }}
          {{ end }}
        </div>
        {{ end }}
      </div>
      <div class="column is-image">
        <figure class="image">
          {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "desktop" "1920x" "tablet" "1280x" "mobile" "750x" "options" (print "jpg " (default "#ffffff" .jpg_background))) }}
        </figure>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.trust }}
<section class="section is-trust">
  <div class="container">
    <h1 class="title is-section-title">{{ T .title }}</h1>
    {{ partial "common/testimonial-glide" .testimonials }}
    {{ partial "customers" $.Page }}
  </div>
</section>
{{ end }}


{{ with .Params.trusted}}
<section class="section is-trusted">
  <div class="container"> 
    <div class="title is-section-title">{{  .title_part1 }} <span> {{  .title_part2 }} </span> {{  .title_part3 }}</div>
    <div class="content"> 
      {{ if .url }}
      <a href="{{ .url | relLangURL }}">{{ .content }}</a>
      {{ end }}
    </div>
    <div class="glide_mobile">{{ partial "_customer-entry" .testimonials_for_mobile }}</div>
    
   {{ partial "customers" $.Page }}
  </div>
</section>
{{ end }} 

{{ with .Params.bottom_cta }}
{{ partial "bottom-cta" . }}
{{ end }}

{{ partial "common/template-script" (dict "asset" "js/common/testimonials.js") }}
{{ partial "common/template-script" (dict "asset" "js/customer-entry.js") }}
</main>{{ end }}
