{{ define "stylesheets" }}
<style>
{{ (resources.Get "css/common/video-js.min.css").Content | safeCSS }}
</style>
{{ end }}

{{ define "scripts"}}
{{ $src := resources.Get "js/common/glide.min.js" | resources.Fingerprint }}

<script type="text/javascript" src="{{ $src.RelPermalink }}" integrity="{{ $src.Data.Integrity }}"></script>
{{ end }}

{{/*  {{ define "nav" }}
<div class="before-nav">
  <p class="cta">
  <a href="/demo/work-from-home/">
    Working from home due to Coronavirus? See how can we help →
  </a>
  </p>
</div>
<!-- <div class="before-nav">
  <p class="cta">
  Boards & Stands are currently backordered until appx Sep 14th due to demand.<br />
  <a href="/order/">Purchase now to reserve your order in the next arrival</a>, or
  <a href="https://landing.vibe.us/backorder-notification" target="_blank">have us notify you when they're back in stock</a>.
  </p>
</div> -->
{{ partial "common/nav" . }}
{{ end }}  */}}

{{ define "main" }}<main class="home">

{{ with .Params.hero }}
<section class="hero is-home" id="home">
  <figure class="image is-video-close" id="hero-video-close">
    {{ (resources.Get "img/home/close.svg").Content | safeHTML }}
  </figure>
  {{ with .video }}
    <div class="video-launcher">
      <figure class="image">
        {{ if .preview }}
          <div class="preview">
            <video autoplay loop muted playsinline>
              {{ $src := resources.Get .preview | resources.Fingerprint }}
              <source src="{{ $src.RelPermalink }}" type="video/mp4">
            </video>
            <div class="mask">
            </div>
          </div>
        {{ end }}
        {{ if .url }}
          <div class="normal-video">
            <video autoplay loop muted controls playsinline>
              {{ $src := resources.Get .url | resources.Fingerprint }}
              <source src="{{ $src.RelPermalink }}" type="video/mp4">
            </video>
          </div>
        {{ end }}
      </figure>
    </div>
  {{ end }}
  <div class="hero-body">
    <div class="container" id = "fade-container">
      <div class="title-text">
        <h1 class="title">
          {{ default .title ( T .title ) | markdownify }}
        </h1>
        <p class="content is-hidden-mobile">
          {{ default .body ( T .body ) | markdownify }}
        </p>
        <p class="content is-hidden-tablet">
          {{ default .body_mobile ( T .body_mobile ) | markdownify }}
        </p>
      </div>
      {{ with .cta }}
      <div class="cta">
        <a class="button is-hero-cta {{ with .class }} {{ . }}{{ end }}"
           href="{{ .url | relLangURL }}">
          {{ default .title ( T .title ) }}
        </a>
      </div>
      {{ end }}
      <div class="subcta-row">
        {{ range .subcta }}
          <div class="subcta{{ with .class }} {{ . }}{{ end }}">
            <span>{{ default .title ( T .title ) }}</span>
            {{ with .link }}
            <a href="{{ .url | relLangURL }}">{{ T .text }}</a>
            {{ end }}
          </div>
        {{ end }}
        <div class="video-play" id = "hero-video-play">
          <figure class="image is-video-play">
            {{ (resources.Get "img/common/video-preview-play.svg").Content | safeHTML }}
          </figure>
          <p>{{ default .video_text ( T .video_text ) }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.as_seen_in }}
{{ partial "common/as-seen-in-section" . }}
{{ end }}

{{ with .Params.values }}
{{ partial "value-section" . }}
{{ end }}

{{ with .Params.description_section }}
{{ partial "description-section" . }}
{{ end }}

{{ with .Params.scenario_section }}
{{ partial "scenario-section" . }}
{{ end }}

{{ with .Params.customer_story }}
<section class="section is-customer-story-section">
  <div class="container">
    <div class="title is-section-title">{{ .title_part1 }} <span class="underline"> {{ .title_part2 }} </span>
      {{ .title_part3 }}</div>
    {{ if .content }}
    <div class="is-section-content">
      {{ if .url }}
      <a href="{{ .url | relLangURL }}">{{ .content }}</a>
      {{ else }}
      <div class="content">{{ .content }}</div>
      {{ end }}
    </div>
    {{ end }}
    <div class="glide_desktop">{{ partial "common/customer-story-glide" .testimonials_for_desktop }}</div>
    <div class="glide_tablet">{{ partial "common/customer-story-glide" .testimonials_for_tablet }}</div>
    <div class="glide_mobile">{{ partial "common/customer-story-glide" .testimonials_for_mobile }}</div>
    {{ partial "common/video-player" (dict "playerId" "video-popup-player" "triggerClass" ".video-popup" "isInplace" false) }}
    <figure class="image customer-logo-group is-hidden-mobile">
      {{ partial "common/srcset" (dict "resource" (resources.Get .logo_group_figure)) }}
    </figure>
    <figure class="image customer-logo-group is-hidden-tablet">
      {{ partial "common/srcset" (dict "resource" (resources.Get .logo_group_figure_mobile)) }}
    </figure>
  </div>
</section>
{{ end }}

{{ with .Params.bottom_cta }}
{{ partial "bottom-cta" . }}
{{ end }}

{{ partial "common/template-script" (dict "asset" "js/hero-video-fade.js") }}
{{ partial "common/template-script" (dict "asset" "js/common/customer-story-section.js") }}
</main>{{ end }}
