{{ define "scripts"}}
{{ $src := resources.Get "js/react.production.min.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $src.RelPermalink }}" integrity="{{ $src.Data.Integrity }}"></script>
{{ $src := resources.Get "js/react-dom.production.min.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $src.RelPermalink }}" integrity="{{ $src.Data.Integrity }}"></script>
{{ end }}
{{ define "main" }}<main class="android-app-store">
{{ $category := merge .Site.Data.android_apps_category.base (default (dict) (index .Site.Data.android_apps_category .Site.Language.Lang)) }}
{{ $apps := slice }}
{{ range cond (eq .Site.Language.Lang "zh") .Site.Data.android_apps_zh.apps .Site.Data.android_apps.apps }}
{{ $src := resources.Get (print "img/android-app-store/icons/" .id ".png" ) | resources.Fingerprint }}
{{ $apps = $apps | append (merge . (dict "icon" $src.RelPermalink)) }}
{{ end }}

{{ with .Params.hero }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div>
        <h1 class="title">{{ T .title }}</h1>
        <div class="content">{{ T .body | markdownify }}</div>
      </div>
      <figure class="image is-hidden-mobile">
        {{ partial "common/srcset" (dict "resource" (resources.Get "/img/android-app-store/hero.png") "desktop" "474x" "mobile" "1x") }}
      </figure>
    </div>
  </div>
</section>
{{ end }}

<section class="section is-app-store">
  <div class="container">
    <div class="columns">
      <div class="column is-side-bar">
        {{ with .Params.side_bar }}
        <h2 class="title">{{ T .title }}</h2>
        {{ end }}

        <h3 class="subtitle"><a class="side-bar-link is-all" href="#">{{ T "i18n-manual-android-app-store-category" }}</a></h3>
        {{ range $category.types }}
        {{ if not .hidden }}
        <div class="type-item">
          <a class="side-bar-link is-type" href="#" data-id="{{ .id }}">{{ T .name }}</a>
        </div>
        {{ end }}
        {{ end }}
      </div>
      <div class="column is-app-root">
        <div id="app-root">
        </div>
        {{ with .Params.bottom_cta }}
        <div class="bottom-cta">
          <h2 class="title">{{ T .title }}</h2>
          <div class="content">{{ T .body | markdownify }}</div>
          {{ with .cta }}
          <div class="cta">
            <a class="button is-black is-rounded is-large" href="{{ .url | relLangURL }}">{{ T .title }}</a>
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ partial "common/template-script" (dict "asset" "js/android-app-store.js" "context" . "category" $category "apps" $apps) }}
</main>{{ end }}
