{{ define "main" }}<main class="contact">

{{ with .Params.hero }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ default .title (T .title) }}</h1>
      {{ with .figure }}
      <figure class="image is-hero-bg">
        {{ partial "common/srcset" (dict "resource" (resources.Get .) "options" "jpg" ) }}
      </figure>
      {{ else }}
      <div class="content">
        {{ range .body }}
        <div class="single-content-block{{ with .class }} {{ . }}{{ end }}">
          {{ with .icon }}
          <span class="icon {{ with .class }} {{ . }}{{ end }}">
            {{ (resources.Get .url ).Content | safeHTML }}
          </span>
          {{ end }}
          <span class="text">{{ default .text (T .text) }}</span>
          {{ with .link }}
          <a class="link" href="{{ .url }}">{{ .text }}</a>
          {{ end }}
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.contact }}
<section class="section is-contact">
  <div class="container is-form">
    {{ with .form }}
    {{ partial "common/form" . }}
    {{ end }}
  </div>

  {{ with .support }}
  <div class="container is-support">
    <h2 class="title">{{ default .title (T .title) }}</h2>
    <h2 class="subtitle">{{ default .subtitle (T .subtitle) }}</h2>
    <div class="content">
      {{ default .body (T .body) | markdownify }}
    </div>
  </div>
  {{ end }}

  {{ with .get_in_touch }}
  {{ $data := merge $.Site.Data.get_in_touch.base (default (dict) (index $.Site.Data.get_in_touch $.Site.Language.Lang)) }}
  {{ with $data }}
  <div class="container is-get-in-touch">
    <div class="contact">
      {{ range .city.items }}
      <div class="content">
        <span class="icon">
          {{ partial "common/mdi" (print .icon ":20") }}
        </span>
        {{ default .text (T .text) | markdownify }}
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ end }}
</section>
{{ end }}

{{ with .Params.bottom_cta }}
{{ partial "bottom-cta" . }}
{{ end }}

{{ partial "common/template-script" (dict "asset" "js/contact.js") }}
</main>{{ end }}
