{{ define "main" }}<main class="contact">

{{ with .Params.hero }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ .title }}</h1>
      <div class="content">{{ .body | markdownify }}</div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.contact }}
<section class="section is-contact">
  <div class="container is-form">
    {{ with .form }}
    {{ partial "common/form" . }}
    {{ end }}
  </div>

  <div class="container is-support">
    {{ with .support }}
    <h2 class="title">{{ .title }}</h2>
    <div class="content">
      {{ .body | markdownify }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ with .Params.bottom_cta }}
{{ partial "bottom-cta" . }}
{{ end }}

{{ partial "common/template-script" (dict "asset" "js/contact.js") }}
</main>{{ end }}
