<table>
  <thead>
    <tr>
      <th colspan="3">
        安装服务内容说明
      </th>
    </tr>
    <tr>
      <th>
        项目
      </th>
      <th>
        价格
      </th>
      <th>
        备注
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        55”壁挂/支架
      </td>
      <td>
        ¥ 180
      </td>
      <td>
        <ol>
          <li>单台标准作业时间为2小时，每超过2小时须另计1次单价（未满30分钟不算超时）。</li>
          <li>多人协助，每增加一人加收150元/人/台。</li>
          <li>辅材、脚手架、布线等费用须另计。</li>
          <li>纸质工单的快递费须到付。</li>
          <li>空跑误工费：100元/人次。</li>
          <li>吊挂等挑高作业另行协商。</li>
        </ol>
      </td>
    </tr>
  </tbody>
</table>
