<table>
    <thead>
        <tr>
            <th>省份</th>
            <th>城市</th>
            <th>服务网点地址</th>
            <th>服务网点</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>辽宁省</td>
            <td>沈阳市</td>
            <td>辽宁省沈阳市和平区三好街65号佰腾数码3F-300号</td>
            <td>024-66853640</td>
        </tr>
        <tr>
            <td>吉林省</td>
            <td>长春市</td>
            <td>吉林省长春市朝阳区和光胡同712号</td>
            <td>0431-85642482</td>
        </tr>
        <tr>
            <td>黑龙江省</td>
            <td>哈尔滨市</td>
            <td>黑龙江省哈尔滨市南岗区南通大街258号船舶西区911室</td>
            <td>0451-82510099</td>
        </tr>
        <tr>
            <td>山东省</td>
            <td>济南市</td>
            <td>山东省济南市历下区花园路205（华鑫商务大厦院内003）</td>
            <td>0531-86462097</td>
        </tr>
        <tr>
            <td>河北省</td>
            <td>石家庄市</td>
            <td>河北省石家庄市桥东区长征街75号付1号A座102室</td>
            <td>0311-86037470</td>
        </tr>
        <tr>
            <td>山西省</td>
            <td>太原市</td>
            <td>山西省太原市小店区长治路33号1号楼3单元2101室（山西盐业往南100米）</td>
            <td>0351-7221073</td>
        </tr>
        <tr>
            <td>陕西省</td>
            <td>西安市</td>
            <td>陕西省西安市碑林区雁塔路中段17号心晴雅苑小区3号楼AB单元3层B户冠捷西安客户服务中心</td>
            <td>029-85539799</td>
        </tr>
        <tr>
            <td>甘肃省</td>
            <td>兰州市</td>
            <td>甘肃省兰州市城关区科技街27号201</td>
            <td>0931-8262910</td>
        </tr>
        <tr>
            <td>河南省</td>
            <td>郑州市</td>
            <td>郑州市金水区东风路3号明天-财智名座12A(13楼)1303室（东风路信息学院路西100米）</td>
            <td>0371-69136287</td>
        </tr>
        <tr>
            <td>四川省</td>
            <td>成都市</td>
            <td>四川省成都市一环路南一段22号嘉谊大厦808室</td>
            <td>028-85252582</td>
        </tr>
        <tr>
            <td>重庆</td>
            <td>重庆市</td>
            <td>重庆市九龙坡区渝州路8号第五层501-2</td>
            <td>023-68469596</td>
        </tr>
        <tr>
            <td>云南省</td>
            <td>昆明市</td>
            <td>昆明市五华区圆通北路127号佰腾数码广场B座1016室</td>
            <td>0871-65713937</td>
        </tr>
        <tr>
            <td>贵州省</td>
            <td>贵阳市</td>
            <td>贵阳市南明区都司路中天广场2组团5层6号</td>
            <td>0851-85865386</td>
        </tr>
        <tr>
            <td>上海</td>
            <td>上海市</td>
            <td>上海市宝山区沙浦路311弄255号</td>
            <td>021-59498689</td>
        </tr>
        <tr>
            <td>上海</td>
            <td>上海市</td>
            <td>上海市浦东新区东三里桥路431号</td>
            <td>021-68735217</td>
        </tr>
        <tr>
            <td>江苏省</td>
            <td>南京市</td>
            <td>江苏省南京市玄武区后宰门街19号111-112室</td>
            <td>025-84820491</td>
        </tr>
        <tr>
            <td>浙江省</td>
            <td>杭州市</td>
            <td>杭州市余杭区中泰乡南湖村村委旁1号厂房3楼</td>
            <td>0571-85022779</td>
        </tr>
        <tr>
            <td>安徽省</td>
            <td>合肥市</td>
            <td>合肥市蜀山区金寨路黄金广场2栋2单元303室</td>
            <td>0551-65126363</td>
        </tr>
        <tr>
            <td>湖北省</td>
            <td>武汉市</td>
            <td>湖北省武汉市洪山区雄楚大街456号绿汀雅境2栋2单元1层门面</td>
            <td>027-87640885</td>
        </tr>
        <tr>
            <td>湖南省</td>
            <td>长沙市</td>
            <td>长沙市芙蓉区解放东路167号合峰电脑城2楼210室</td>
            <td>0731-84154411</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>广州市</td>
            <td>广州市天河区大观路新塘大街新塘商贸园D栋202</td>
            <td>020-85519086</td>
        </tr>
        <tr>
            <td>海南省</td>
            <td>海口市</td>
            <td>海口市美兰区南宝路14号明都大厦1011室</td>
            <td>0898-66740286</td>
        </tr>
        <tr>
            <td>广西壮族自治区</td>
            <td>南宁市</td>
            <td>广西南宁市星湖路8号至胜电子科技广场411</td>
            <td>0771-5718161</td>
        </tr>
        <tr>
            <td>福建省</td>
            <td>福州市</td>
            <td>福建省福州市晋安区岳峰镇塔头路336号东城公寓2#110单元</td>
            <td>0591-87879714</td>
        </tr>
        <tr>
            <td>江西省</td>
            <td>南昌市</td>
            <td>江西省南昌市西湖区二七南路495号海林大厦402室</td>
            <td>0791-86239307</td>
        </tr>
        <tr>
            <td>黑龙江省</td>
            <td>佳木斯市</td>
            <td>黑龙江省佳木斯市新世纪电脑城206-1厅</td>
            <td>0454-8243722</td>
        </tr>
        <tr>
            <td>黑龙江省</td>
            <td>牡丹江市</td>
            <td>黑龙江省牡丹江市西安区西七条路长安街华隆二区3#5门市</td>
            <td>0453-6688315</td>
        </tr>
        <tr>
            <td>黑龙江省</td>
            <td>鸡西市</td>
            <td>黑龙江省鸡西市鸡冠区中心大街233号天元电子城启航电子维修站</td>
            <td>0467-2621686</td>
        </tr>
        <tr>
            <td>黑龙江省</td>
            <td>齐齐哈尔市</td>
            <td>黑龙江省齐齐哈尔市建华区裕民西小区4号楼2单元101</td>
            <td>0452-2688628</td>
        </tr>
        <tr>
            <td>辽宁省</td>
            <td>锦州市</td>
            <td>辽宁省锦州市凌河区卫东街27-143号</td>
            <td>0416-7992504</td>
        </tr>
        <tr>
            <td>辽宁省</td>
            <td>鞍山市</td>
            <td>辽宁省鞍山市铁东区五一路35号老一百电脑城4楼21号</td>
            <td>0412-2505948</td>
        </tr>
        <tr>
            <td>辽宁省</td>
            <td>大连市</td>
            <td>辽宁省大连市沙河口区兴工南五街17号福佳新天地E座二单元706</td>
            <td>0411-83635014</td>
        </tr>
        <tr>
            <td>山东省</td>
            <td>青岛市</td>
            <td>山东省青岛市市北区辽宁路240号信息城三期3151室</td>
            <td>0532-83808454</td>
        </tr>
        <tr>
            <td>山东省</td>
            <td>泰安市</td>
            <td>山东省泰安市升平街6号泰山数码广场4楼20号</td>
            <td>0538-8211019</td>
        </tr>
        <tr>
            <td>山东省</td>
            <td>菏泽市</td>
            <td>山东省菏泽市牡丹区高平路高平小区C1号楼二单元102室</td>
            <td>0530-6166619</td>
        </tr>
        <tr>
            <td>山东省</td>
            <td>济宁市</td>
            <td>山东省济宁市吴泰闸路130号华赛数码科技城B3</td>
            <td>0537-2346112</td>
        </tr>
        <tr>
            <td>山东省</td>
            <td>临沂市</td>
            <td>山东省临沂市兰山区青年路51号2#-3-101室</td>
            <td>0539-8366286</td>
        </tr>
        <tr>
            <td>山东省</td>
            <td>潍坊市</td>
            <td>山东省潍坊市潍城区青年路92号东方威尼斯406室</td>
            <td>0536-8979818</td>
        </tr>
        <tr>
            <td>山东省</td>
            <td>烟台市</td>
            <td>山东省烟台市芝罘区芝罘屯路11号金鹏科技苑421室</td>
            <td>0535-6677433</td>
        </tr>
        <tr>
            <td>天冿</td>
            <td>天津市</td>
            <td>天津市河北区北斗花园8号楼底商</td>
            <td>022-26355645</td>
        </tr>
        <tr>
            <td>河北省</td>
            <td>邯郸市</td>
            <td>河北省邯郸市丛台区环城西路稽山新天地8号楼3层2号</td>
            <td>0310-5702578</td>
        </tr>
        <tr>
            <td>河北省</td>
            <td>沧州市</td>
            <td>河北省沧州市新华区欣怡小区3#1号2楼</td>
            <td>0317-3072220</td>
        </tr>
        <tr>
            <td>河北省</td>
            <td>保定市</td>
            <td>保定市莲池区莲池南大街华侨小区东配楼1单元301</td>
            <td>0312-5916869</td>
        </tr>
        <tr>
            <td>河北省</td>
            <td>秦皇岛市</td>
            <td>河北省秦皇岛市海港区颐高数码广场2021</td>
            <td>0335-3259366</td>
        </tr>
        <tr>
            <td>北京</td>
            <td>北京市</td>
            <td>北京市海淀区北清路164号</td>
            <td>010-82824682</td>
        </tr>
        <tr>
            <td>河北省</td>
            <td>唐山市</td>
            <td>河北省唐山市硅谷数码城地下一层FT15室</td>
            <td>15833553455</td>
        </tr>
        <tr>
            <td>内蒙古自治区</td>
            <td>赤峰市</td>
            <td>内蒙古赤峰市松山区北辰市场B5栋16厅</td>
            <td>0476-2391599</td>
        </tr>
        <tr>
            <td>内蒙古自治区</td>
            <td>呼和浩特市</td>
            <td>内蒙古呼和浩特市玉泉区康佳电力D区5号楼2-101</td>
            <td>18147172797</td>
        </tr>
        <tr>
            <td>内蒙古自治区</td>
            <td>包头市</td>
            <td>内蒙古自治区包头市青山区九星国际广场二楼A2064</td>
            <td>15540183283</td>
        </tr>
        <tr>
            <td>山西省</td>
            <td>大同市</td>
            <td>山西省大同市源茂街上悦城2楼2116</td>
            <td>0352-2503205</td>
        </tr>
        <tr>
            <td>山西省</td>
            <td>临汾市</td>
            <td>山西省临汾市尧都区鼓楼南大街皮店门巷107号门面（AOC冠捷客户服务中心）</td>
            <td>0357-2982777</td>
        </tr>
        <tr>
            <td>山西省</td>
            <td>运城市</td>
            <td>山西省运城市电脑城南2楼东10号</td>
            <td>0359-2053870</td>
        </tr>
        <tr>
            <td>陕西省</td>
            <td>汉中市</td>
            <td>陕西省汉中市汉台区陕南电子城3楼3313室</td>
            <td>0916-2858086</td>
        </tr>
        <tr>
            <td>陕西省</td>
            <td>榆林市</td>
            <td>陕西省榆林市榆阳区上郡北路二院家属院1号楼2单元302</td>
            <td>0912-3823303</td>
        </tr>
        <tr>
            <td>陕西省</td>
            <td>宝鸡市</td>
            <td>陕西省宝鸡市渭滨区火炬路4号畅新电脑城三楼</td>
            <td>0917-3315792</td>
        </tr>
        <tr>
            <td>新疆维吾尔自治区</td>
            <td>乌鲁木齐市</td>
            <td>新疆维吾尔自治区乌鲁木齐市天山区人民路兴亚大厦1302室</td>
            <td>0991-2316031</td>
        </tr>
        <tr>
            <td>河南省</td>
            <td>安阳市</td>
            <td>河南省安阳市北关区自由路烟糖公寓5号</td>
            <td>0372-5119883</td>
        </tr>
        <tr>
            <td>河南省</td>
            <td>新乡市</td>
            <td>河南省新乡市红旗区人民路与和平路体育中心北区203</td>
            <td>0373-3035022</td>
        </tr>
        <tr>
            <td>河南省</td>
            <td>南阳市</td>
            <td>河南省南阳市七一路658号</td>
            <td>0377-63191508</td>
        </tr>
        <tr>
            <td>河南省</td>
            <td>周口市</td>
            <td>河南省周口市川汇区八一路中段（电脑城二楼）</td>
            <td>18939617810</td>
        </tr>
        <tr>
            <td>河南省</td>
            <td>商丘市</td>
            <td>河南省商丘市长江路与中洲路交叉口东南角劳动局南50米人力资源市场20号</td>
            <td>0370-2086376</td>
        </tr>
        <tr>
            <td>河南省</td>
            <td>洛阳市</td>
            <td>河南省洛阳市西工区凯旋路付21-6号</td>
            <td>0379-65285336</td>
        </tr>
        <tr>
            <td>青海省</td>
            <td>西宁市</td>
            <td>青海省西宁市城西区胜利路商业巷1号</td>
            <td>0971-6136927</td>
        </tr>
        <tr>
            <td>宁夏回族自治区</td>
            <td>银川市</td>
            <td>宁夏回族自治区银川市兴庆区解放东街鼓楼电脑电讯市场办公区2楼206室</td>
            <td>13895605157</td>
        </tr>
        <tr>
            <td>四川省</td>
            <td>宜宾市</td>
            <td>四川省宜宾市翠屏区专署街103号附属楼一楼</td>
            <td>0831-8220426</td>
        </tr>
        <tr>
            <td>四川省</td>
            <td>南充市</td>
            <td>四川省南充市顺庆区世隆电脑城内环10678、10698号</td>
            <td>0817-2227626</td>
        </tr>
        <tr>
            <td>四川省</td>
            <td>攀枝花市</td>
            <td>四川省攀枝花市东区佰腾数码广场1F-122号海遥科技</td>
            <td>0812-3355168</td>
        </tr>
        <tr>
            <td>四川省</td>
            <td>达州市</td>
            <td>四川省达州市通川区朝阳东路中心广场二楼B225号</td>
            <td>0818-3133355</td>
        </tr>
        <tr>
            <td>四川省</td>
            <td>乐山市</td>
            <td>四川省乐山市市中区百禄路376号</td>
            <td>0833-2426410</td>
        </tr>
        <tr>
            <td>四川省</td>
            <td>遂宁市</td>
            <td>四川省遂宁市船山区电江路新民街68号冠捷服务中心</td>
            <td>0825-2239177</td>
        </tr>
        <tr>
            <td>四川省</td>
            <td>绵阳市</td>
            <td>四川省绵阳市佰腾数码广场一层F16</td>
            <td>0816-2343362</td>
        </tr>
        <tr>
            <td>西藏自治区</td>
            <td>拉萨市</td>
            <td>拉萨市江苏路拉萨晚报商品房</td>
            <td>0891-6322244</td>
        </tr>
        <tr>
            <td>贵州省</td>
            <td>遵义市</td>
            <td>贵州省遵义市汇川区香港路罗庄电脑城F3-12号</td>
            <td>0851-28647174</td>
        </tr>
        <tr>
            <td>重庆</td>
            <td>重庆市</td>
            <td>重庆市万州区白岩路末端353号2-102</td>
            <td>023-85720600</td>
        </tr>
        <tr>
            <td>重庆</td>
            <td>重庆市</td>
            <td>重庆市永川区渝西大道中段301号附12号门面（二号站小广场内渝西设计院楼下）</td>
            <td>023-85370020</td>
        </tr>
        <tr>
            <td>重庆</td>
            <td>重庆市</td>
            <td>重庆市合川区久长路步街125号3F－355号</td>
            <td>023-42840605</td>
        </tr>
        <tr>
            <td>江苏省</td>
            <td>常州市</td>
            <td>江苏省常州市银河湾电脑城1号楼721室</td>
            <td>0519—85780205</td>
        </tr>
        <tr>
            <td>江苏省</td>
            <td>淮安市</td>
            <td>江苏省淮安市清浦区前进东路188号欧洲城B-12门面</td>
            <td>0517-83771656</td>
        </tr>
        <tr>
            <td>江苏省</td>
            <td>南通市</td>
            <td>南通市崇川区京扬数码广场3楼321室</td>
            <td>0513-85527681</td>
        </tr>
        <tr>
            <td>江苏省</td>
            <td>盐城市</td>
            <td>江苏省盐城市亭湖区后关西路悦达西园1幢104室</td>
            <td>0515-88319313</td>
        </tr>
        <tr>
            <td>江苏省</td>
            <td>连云港市</td>
            <td>江苏省连云港市新浦区苍梧路龙河宾馆351室</td>
            <td>0518-85822765</td>
        </tr>
        <tr>
            <td>江苏省</td>
            <td>徐州市</td>
            <td>徐州市泉山区现代数码广场1A21室</td>
            <td>0516-66674485</td>
        </tr>
        <tr>
            <td>江苏省</td>
            <td>泰州市</td>
            <td>江苏省泰州市海陵区扬州路111-32号</td>
            <td>0523-86563980</td>
        </tr>
        <tr>
            <td>江苏省</td>
            <td>苏州市</td>
            <td>江苏省苏州市沧浪区五卅路228号北楼503室</td>
            <td>0512-67086179</td>
        </tr>
        <tr>
            <td>江苏省</td>
            <td>无锡市</td>
            <td>江苏省无锡市梁溪区人民西路锡惠里小区8号一楼</td>
            <td>0510-82711478</td>
        </tr>
        <tr>
            <td>江苏省</td>
            <td>扬州市</td>
            <td>江苏省扬州市安兴花园1幢6号</td>
            <td>0514-87989840</td>
        </tr>
        <tr>
            <td>浙江省</td>
            <td>宁波市</td>
            <td>浙江省宁波市海曙区西河街8号</td>
            <td>0574-87285590</td>
        </tr>
        <tr>
            <td>浙江省</td>
            <td>台州市</td>
            <td>浙江省台州市路桥区洋叶小区三区三幢5-6号 </td>
            <td>0576-82583708</td>
        </tr>
        <tr>
            <td>浙江省</td>
            <td>温州市</td>
            <td>温州市鹿城区牛山北路50号中外运4号仓库</td>
            <td>0577-88109915</td>
        </tr>
        <tr>
            <td>浙江省</td>
            <td>宁波市</td>
            <td>浙江省宁海县怡惠路276号</td>
            <td>0574-65591428</td>
        </tr>
        <tr>
            <td>浙江省</td>
            <td>慈溪市</td>
            <td>淅江省宁波慈溪市浒山新城中心23栋13-14号</td>
            <td>0574-63025674</td>
        </tr>
        <tr>
            <td>浙江省</td>
            <td>衢州市</td>
            <td>浙江省衢州市柯城区荷花中路123号金兴数码城西门1号</td>
            <td>0570-3079399</td>
        </tr>
        <tr>
            <td>浙江省</td>
            <td>金华市</td>
            <td>浙江省金华市双鹊路工商城81幢1号</td>
            <td>0579-82479117</td>
        </tr>
        <tr>
            <td>湖北省</td>
            <td>宜昌市</td>
            <td>宜昌市西陵区珍珠路41号新天地电脑城A202</td>
            <td>0717-6909400</td>
        </tr>
        <tr>
            <td>湖北省</td>
            <td>襄阳市</td>
            <td>湖北省襄阳市高新区现代城数码港孵化园A202</td>
            <td>0710-3280668</td>
        </tr>
        <tr>
            <td>湖北省</td>
            <td>恩施市</td>
            <td>湖北省恩施土家族苗族自治州恩施市舞阳大街1巷3号国泰大厦二楼</td>
            <td>0718-8242296</td>
        </tr>
        <tr>
            <td>湖北省</td>
            <td>荆州市</td>
            <td>湖北省荆州市沙市区北京中路282号广埠屯资讯广场津谷店708室</td>
            <td>0716-4319119</td>
        </tr>
        <tr>
            <td>湖北省</td>
            <td>汉口市</td>
            <td>湖北省武汉市江汉区前进四路72号美好太和数码市场4楼D07号</td>
            <td>027-82223530</td>
        </tr>
        <tr>
            <td>湖北省</td>
            <td>黄石市</td>
            <td>湖北省黄石市武汉路298号新数码广场K311-1</td>
            <td>0714-6205656</td>
        </tr>
        <tr>
            <td>湖北省</td>
            <td>十堰市</td>
            <td>湖北省十堰市张湾区公园路35号路北小区9栋3单元201</td>
            <td>0719-8113366</td>
        </tr>
        <tr>
            <td>湖北省</td>
            <td>荆门市</td>
            <td>湖北省荆门市白云大道百优电脑城三楼8311号</td>
            <td>0724-2332588</td>
        </tr>
        <tr>
            <td>湖南省</td>
            <td>衡阳市</td>
            <td>湖南省衡阳市雁峰区先锋路颐高数码广场5030号</td>
            <td>0734-8520356</td>
        </tr>
        <tr>
            <td>湖南省</td>
            <td>岳阳市</td>
            <td>湖南省岳阳市火车站对面黄金时代广场一楼8号商铺</td>
            <td>0730-8288800</td>
        </tr>
        <tr>
            <td>湖南省</td>
            <td>郴州市</td>
            <td>湖南省郴州北湖区协作路电脑城2期501室</td>
            <td>0735-2274525</td>
        </tr>
        <tr>
            <td>湖南省</td>
            <td>常德市</td>
            <td>湖南省常德市滨湖路文理学院西院19栋4单元201</td>
            <td>0736-7085660</td>
        </tr>
        <tr>
            <td>湖南省</td>
            <td>怀化市</td>
            <td>湖南省怀化市鹤城区迎丰东路太平桥银河电脑城三楼二十号门面</td>
            <td>0745-2550208</td>
        </tr>
        <tr>
            <td>安徽省</td>
            <td>阜阳市</td>
            <td>安徽省阜阳市颍州区永昌商城路南3号楼门市</td>
            <td>0558-2162868</td>
        </tr>
        <tr>
            <td>安徽省</td>
            <td>芜湖市</td>
            <td>安徽省芜湖市镜湖区融汇中江广场西区220,231</td>
            <td>0553-3712723</td>
        </tr>
        <tr>
            <td>安徽省</td>
            <td>蚌埠市</td>
            <td>安徽省蚌埠市龙子湖区光荣街37号</td>
            <td>0552-3035165</td>
        </tr>
        <tr>
            <td>福建省</td>
            <td>漳州市</td>
            <td>福建省漳州市芗城区新华西北12幢11号</td>
            <td>0596-2094090</td>
        </tr>
        <tr>
            <td>福建省</td>
            <td>福州市</td>
            <td>福建省福清市宏路镇石门村融学路91号（石门旧小学附近）</td>
            <td>0591-85261776</td>
        </tr>
        <tr>
            <td>福建省</td>
            <td>福州市</td>
            <td>福建省福州市台江区大利嘉写字楼1822室</td>
            <td>0591-83304030</td>
        </tr>
        <tr>
            <td>福建省</td>
            <td>龙岩市</td>
            <td>福建省龙岩市新罗区龙门镇谢洋村闽西交易城一期（阳光都汇商住小区）阳泉楼2层18-2号H铺位</td>
            <td>0597-2535303</td>
        </tr>
        <tr>
            <td>福建省</td>
            <td>莆田市</td>
            <td>福建省莆田市涵江区下洋路11号</td>
            <td>0594-3893265</td>
        </tr>
        <tr>
            <td>福建省</td>
            <td>厦门市</td>
            <td>福建省厦门市思明区天湖路46号恒滨名宫6层6F</td>
            <td>0592-2290135</td>
        </tr>
        <tr>
            <td>福建省</td>
            <td>泉州市</td>
            <td>福建省泉州市鲤城区九一路龙宫B栋105-106室</td>
            <td>0595-22175655</td>
        </tr>
        <tr>
            <td>江西省</td>
            <td>南昌市</td>
            <td>江西省南昌市西湖区二七南路495号海林大厦402室</td>
            <td>0791-86239307</td>
        </tr>
        <tr>
            <td>江西省</td>
            <td>九江市</td>
            <td>江西省九江市大中路太平洋数码城三楼312/313</td>
            <td>0792-2177227</td>
        </tr>
        <tr>
            <td>江西省</td>
            <td>赣州市</td>
            <td>江西省赣州市八一四大道二号新大地电脑城6楼618室</td>
            <td>0797-8231881</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>东莞市</td>
            <td>广东省东莞市体育路赛博电脑城321B</td>
            <td>0769-23034717</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>汕头市</td>
            <td>广东省汕头市龙湖区高新区高新电脑中心一期309/310</td>
            <td>0754-88885816</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>珠海市</td>
            <td>广东省珠海市香洲区九洲大道西3024号（珠海理工职业学校联想3C服务中心旁）</td>
            <td>13697752251</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>广州市</td>
            <td>广东省广州市天河区石牌西路8号展望数码广场十八楼1808单元</td>
            <td>020-87545473</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>佛山市</td>
            <td>广东省佛山市禅城区汾江中路9号兴运大厦A1207</td>
            <td>0757-82300766</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>湛江市</td>
            <td>广东省湛江市霞山区人民大道南国贸大厦A座4楼M12档</td>
            <td>0759-2360581</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>江门市</td>
            <td>广东省江门市蓬江区圣廷苑4栋103铺</td>
            <td>0750-3301260</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>韶关市</td>
            <td>韶关市浈江区启明南路17号101</td>
            <td>0751-8312500</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>惠州市</td>
            <td>广东省惠州市惠城区鹅岭北路惠州电脑城5号楼3栋A310</td>
            <td>0752-2126536</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>中山市</td>
            <td>广东省中山市西区富华道10号西苑电脑城富华阁11G</td>
            <td>0760-88623069</td>
        </tr>
        <tr>
            <td>广西壮族自治区</td>
            <td>玉林市</td>
            <td>玉林市电脑电器专业市场二楼D区9、10号</td>
            <td>0775-2893799</td>
        </tr>
        <tr>
            <td>广西壮族自治区</td>
            <td>桂林市</td>
            <td>广西壮族自治区桂林市秀峰区王城商厦6楼656号</td>
            <td>0773-8288120 </td>
        </tr>
        <tr>
            <td>广西壮族自治区</td>
            <td>柳州市</td>
            <td>广西壮族自治区柳州市三中路39号凯凌大厦A-201</td>
            <td>0772-2855831</td>
        </tr>
        <tr>
            <td>山西省</td>
            <td>太原市</td>
            <td>山西省太原市小店区坞城南路瑧观苑楼底商7号商铺</td>
            <td>0351-2148720</td>
        </tr>
        <tr>
            <td>广东省</td>
            <td>深圳市</td>
            <td>广东省深圳市龙岗区坂田街道吉华路393号海发大厦213室</td>
            <td>0755-83169953</td>
        </tr>
        <tr>
            <td>河南省</td>
            <td>信阳市</td>
            <td>河南省信阳市浉河区信运电脑城冠捷售后服务站</td>
            <td>0376-3389192</td>
        </tr>
        <tr>
            <td>湖南省</td>
            <td>邵阳市</td>
            <td>邵阳市双清区邵水东路日恒电器城F座夹层1001号门面</td>
            <td>0739-2278289</td>
        </tr>
        <tr>
            <td>安徽省</td>
            <td>六安市</td>
            <td>安徽省六安市裕安区帝都豪园北门10#101</td>
            <td>0564-3303807</td>
        </tr>
    </tbody>
</table>