<table>
    <thead>
        <tr>
            <th>保修范围</th>
            <th>保修内容</th>
            <th>开始日期</th>
            <th>保修期/年</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>显示部分</td>
            <td>液晶屏，显示主板，显示电源板，显示转接板</td>
            <td>自用户收货次日起</td>
            <td>1</td>
        </tr>
        <tr>
            <td>触摸部分</td>
            <td>红外触摸框，电磁触摸屏，电容触摸屏</td>
            <td>自用户收货次日起</td>
            <td>1</td>
        </tr>
        <tr>
            <td>周边产品</td>
            <td>无线传屏，触控笔、配套线材</td>
            <td>自用户收货次日起</td>
            <td>1</td>
        </tr>
    </tbody>
</table>