<table>
    <thead>
        <tr>
            <th>服务项目</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>中修</td>
            <td>更换板件（主板、电源板、转接板、T-con 板）</td>
        </tr>
        <tr>
            <td>大修</td>
            <td>更换板件（主板、电源板、转接板、T-con 板）</td>
        </tr>
        <tr>
            <td>小修</td>
            <td>更换非电子元器件（线材、结构、模块类）</td>
        </tr>
        <tr>
            <td>整机返厂维修（不含备机）</td>
            <td>上门检测、拉旧送新（检测、配送、还原安装）</td>
        </tr>
        <tr>
            <td>整机返厂维修（含备机）</td>
            <td>上门检测、拉旧送新（检测、配送、还原安装），维修期间超过15日，提供备机替换</td>
        </tr>
        <tr>
            <td>无用料维修</td>
            <td>指非拆机重组，经过重插线材、重新组装部品或清洁、更换附件（无线传屏／智能笔等更换）后故障得以解决的</td>
        </tr>
        <tr>
            <td>检测／调试</td>
            <td>故障检测、出检检测／功能调试、软件升级</td>
        </tr>
    </tbody>
</table>