{{ define "main" }}<main class="reqest-video-landing">

{{ with .Params.video_hero }}
{{ partial "video-hero" . }}
{{ end }}

{{ with .Params.hero }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-text">
          <h1 class="title">{{ .title }}</h1>
          <div class="content">{{ .body | markdownify }}</div>
          {{ with .cta }}
          <div class="cta">
            <a href="{{ .url }}">
              <span>{{ .title }}</span>
              {{ with .icon }}
              <span class="icon is-small">
                {{ (resources.Get .).Content | safeHTML }}
              </span>
              {{ end }}
            </a>
          </div>
          {{ end }}
        </div>
        <div class="column is-image">
          <figure class="image">
            {{ partial "common/srcset" (dict "resource" (resources.Get "img/demo/hero-landing.jpg") "desktop" "980x" "tablet" "980x" "mobile" "750x") }}
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.compare }}
{{ partial "compare" . }}
{{ end }}

{{ with .Params.bottom_cta }}
{{ partial "bottom-cta" . }}
{{ end }}

</main>{{ end }}
