{{ define "stylesheets" }}
{{ if eq .Site.Language.Lang "zh" }}
<style>
{{ (resources.Get "css/common/video-js.min.css").Content | safeCSS }}
</style>
{{ end }}
{{ end }}
{{ define "main" }}<main class="reqest-video-landing">

{{ with .Params.video_hero }}
{{ partial "common/video-hero" . }}
{{ end }}

{{ with .Params.hero }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-text">
          <h1 class="title">{{ T .title }}</h1>
          <div class="content">{{ T .body | markdownify }}</div>
          {{ with .cta }}
          <div class="cta">
            <a href="{{ .url }}" target="_blank">
              <span>{{ T .title }}</span>
              {{ with .icon }}
              <span class="icon is-small">
                {{ (resources.Get .).Content | safeHTML }}
              </span>
              {{ end }}
            </a>
          </div>
          {{ end }}
        </div>
        <div class="column is-image">
          {{ with .figure }}
            <figure class="image">
              {{ partial "common/srcset" (dict "resource" (resources.Get .) "desktop" "980x" "tablet" "980x" "mobile" "750x" )}}
            </figure>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.compare }}
{{ partial "common/compare" (merge . (dict "Site" $.Site)) }}
{{ end }}

{{ with .Params.bottom_cta }}
{{ partial "bottom-cta" . }}
{{ end }}

</main>{{ end }}
