{{ define "scripts" }}
{{ with .Params.faq_rich_search }}
{{ partial "common/faq-rich-search" . }}
{{ end }}
{{ end }}
{{ define "main" }}<main class="document is-{{ .File.BaseFileName }}">
{{ with .Params.hero }}
<section class="hero">
  <div class="bg-logo">
    {{ (resources.Get "img/shared/what-bg.svg").Content | safeHTML }}
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ .title }}</h1>
      <div class="content">
        {{ .summary | markdownify }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.register }}
<section class="section is-register">
  <div class="container is-form">
    {{ with .form }}
    {{ partial "common/form" . }}
    {{ end }}
  </div>
</section>
{{ end }}

<section class="section">
  <div class="container">
    {{ if not .Params.hero }}
    <h1 class="title">{{ .Title }}</h1>
    {{ end }}
    <div class="content">
      {{ .Content }}
    </div>
  </div>
</section>

{{ with .Params.bottom_cta }}
{{ partial "bottom-cta" . }}
{{ end }}

{{ partial "common/template-script" (dict "asset" "js/contact.js") }}
{{ if .Params.content_link_target_blank }}
<script type="module">
  document.querySelectorAll(".content a").forEach((el) => {
    el.setAttribute("target", "_blank");
  });
</script>
{{ end }}
</main>{{ end }}
